<div class="container">
    <div class="row">
        <div class="col-md-12 contact">
            <h1>TR global locations</h1>
            <div class="text mt-5">
                <h4>The TR Group consists of 33 locations within the UK, Asia, Europe and the USA including seven high
                    volume sites manufacturing cold forged fasteners and special parts and three technical and
                    innovation centres </h4>
            </div>
        </div>
        <div class="para mt-4">
            <p> Use the interactive globe below to find out more about each of our locations.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row country">
        <div class="col-md-3">
            <button class="btn" (click)="selectMenu('Uk &Ireland')"
                [ngClass]="{'selected': isMenuSelected('Uk &Ireland')}">Uk &Ireland</button>
        </div>
        <div class="col-md-3">
            <button class="btn" (click)="selectMenu('Europe')"
                [ngClass]="{'selected': isMenuSelected('Europe')}">Europe</button>
        </div>
        <div class="col-md-3">
            <button class="btn" (click)="selectMenu('USA')" [ngClass]="{'selected': isMenuSelected('USA')}">USA</button>
        </div>
        <div class="col-md-3">
            <button class="btn" (click)="selectMenu('Asia')"
                [ngClass]="{'selected': isMenuSelected('Asia')}">Asia</button>
        </div>
        <hr class="country-ruler">
    </div>
</div>



<section class="address-section">
    <div class="container" [ngSwitch]="selectedMenu">
        <div class="row" *ngSwitchCase="'Uk &Ireland'">
            <div class="col-md-6">
                <div class="address">
                    <h1>Trifast plc</h1>
                    <h4 class="fw-medium">Trifast plc</h4>
                    <h4>Trifast House, Bellbrook Park, Uckfield, East Sussex, TN22 1QW</h4>
                    <h4>Registered in England | Registered No: 1103675 | VAT No. 390068451</h4>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +44 (0)1825 747366</h4>
                    <h4>Email: <a href="#"> Investor relations</a></h4>
                    <h4> Email:<a href="#"> Shareholders</a></h4>
                    <h4> Email:<a href="#"> Sustainability</a></h4>
                </div>
            </div>
            <hr class="address-ruler">
            <div class="col-md-6">
                <div class="address">
                    <h1>Uckfield</h1>
                    <h4 class="fw-medium">TR Fastenings Ltd</h4>
                    <h4>Trifast House, Bellbrook Park, Uckfield, East Sussex, TN22 1QW</h4>
                    <h4>Registered in UK | Registered No: 1103675 | VAT No. 390068451</h4>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +44 (0)1825 764711 </h4>
                    <h4>Fax: +44 (0)870 458 7851</h4>
                    <h4> Email:<a href="#"> sales@trfastenings.com</a></h4>
                    <!-- <h4> Email:<a href="#"> Sustainability</a></h4> -->
                </div>
            </div>
            <hr class="address-ruler">
            <div class="col-md-6">
                <div class="address">
                    <h1>Tipton - West Midlands</h1>
                    <h4 class="fw-medium">TR Fastenings Ltd</h4>
                    <h4>Waterside Park, Goldshill Way, Tipton, West Midlands, DY4 0WP

                    </h4>
                    <h4 class="fw-medium">Technical and Innovation Centre: TR Fastenings Ltd

                    </h4>
                    <h4>Unit C, Waterside Park, Goldshill Way, Tipton, West Midlands, DY4 0PU

                    </h4>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +44 (0)121 521 0100</h4>
                    <h4>Fax: +44 (0)121 521 0101

                    </h4>
                    <h4> Email:<a href="#"> wednesbury@trfastenings.com</a></h4>
                    <!-- <h4> Email:<a href="#"> Sustainability</a></h4> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container" [ngSwitch]="selectedMenu">
        <div class="row" *ngSwitchCase="'Europe'">
            <div class="col-md-6">
                <div class="address">
                    <h1>Netherlands</h1>
                    <h4 class="fw-medium">Languages Spoken: German | English | Dutch

                    </h4>
                    <h4 class="fw-medium">TR Miller Holding B.V.

                    </h4>
                    <h4>Kelvinstraat 5, 7575 AS, Oldenzaal, Holland</h4>
                    <h4>Registered in Holland | Registered No: 003448083</h4>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +31 (0)541 511 515

                    </h4>
                    <h4>Fax: +31 (0)541 517 134</h4>
                    <h4> Email:<a href="#"> netherlands@trfastenings.com</a></h4>
                   
                </div>
            </div>
            <hr class="address-ruler">
            <div class="col-md-6">
                <div class="address">
                    <h1>Hungary</h1>
                    <h4 class="fw-medium">Languages Spoken: Hungarian | English | German | Romanian | Italian | French | Croatian | Serbian

                    </h4>
                    <h4 class="fw-medium">TR Hungary Kft



                    </h4>
                    <h4>2310 Szigetszentmiklós, Diósgyőri utca 2., Hungary</h4>
                    <h4>Registered in Hungary | Registered No: 13-09-089115</h4>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +36 30 342 1218

                    </h4>
                    <!-- <h4>Fax: +31 (0)541 517 134</h4> -->
                    <h4> Email:<a href="#"> hungary@trfastenings.com

                    </a></h4>
                   
                </div>
            </div>
           
        </div>
    </div>
    <div class="container" [ngSwitch]="selectedMenu">
        <div class="row" *ngSwitchCase="'USA'">
            <div class="col-md-6">
                <div class="address">
                    <h1>Texas</h1>
                    <h4 class="fw-medium">TR Fastenings Inc

                    </h4>
                    <h4>10811 Vine Crest Drive, Suite 190, Houston, Texas 77086, USA

                    </h4>
                    <h4>Registered in USA | Registered No: C0744783

                    </h4>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +1 800-280-2181</h4>
                    <h4>Email: <a href="#">usa@trfastenings.com</a></h4>
                 
                </div>
            </div>
            <hr class="address-ruler">
            <div class="col-md-6">
                <div class="address">
                    <h1>South Carolina
                    </h1>
                    <h4 class="fw-medium">Technical and Innovation Centre

                    </h4>
                    <h4>CU-ICAR - One Research Drive, Office 300E, Greenville, SC 29607, USA

                    </h4>
                    <!-- <h4>Registered in UK | Registered No: 1103675 | VAT No. 390068451</h4> -->
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +1 800-280-2181 </h4>
                    <!-- <h4>Fax: +44 (0)870 458 7851</h4> -->
                    <h4> Email:<a href="#">usa@trfastenings.com

                    </a></h4>
                    <!-- <h4> Email:<a href="#"> Sustainability</a></h4> -->
                </div>
            </div>
            <hr class="address-ruler">
           
          
           
        </div>
    </div>

 
    <div class="container" [ngSwitch]="selectedMenu">
        <div class="row" *ngSwitchCase="'Asia'">
            <div class="col-md-6">
                <div class="address">
                    <h1>Singapore</h1>
                    <h4 class="fw-medium">TR Asia Investment Holdings Pte Ltd (Asia Headquarters)

                    </h4>
                    <h4>57 Senoko Road, Singapore 758121

                    </h4>
                    <!-- <h4>Registered in England | Registered No: 1103675 | VAT No. 390068451</h4> -->
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +65 6759 6033

                    </h4>
                    <h4>Fax: +65 6759 6022</h4>
                    <h4> Email:<a href="#">asia@trfastenings.com</a></h4>
                    <!-- <h4> Email:<a href="#"> Sustainability</a></h4> -->
                </div>
            </div>
            <hr class="address-ruler">
            <div class="col-md-6">
                <div class="address">
                    <h1>Singapore</h1>
                    <h4 class="fw-medium">TR Formac Pte Ltd (Singapore Office)

                    </h4>
                    <h4>57 Senoko Road, Singapore 758121

                    </h4>
                    <h4>Registered in Singapore | Registered No: 199407352C

                    </h4>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone:+65 6759 6033 </h4>
                    <h4>Fax: Fax: +65 6759 6022</h4>
                    <h4> Email:<a href="#">singapore@trfastenings.com

                    </a></h4>
                    <!-- <h4> Email:<a href="#"> Sustainability</a></h4> -->
                </div>
            </div>
            <hr class="address-ruler">
            <div class="col-md-6">
                <div class="address">
                    <h1>China</h1>
                    <h4 class="fw-medium">TR Formac (Shanghai) Pte Ltd.

                    </h4>
                    <h4>No. 1222, JinHu Road, Pudong, New District, Shanghai, PR China. 201206



                    </h4>
                    <h4 class="fw-medium">Registered in China | Registered No: 913101157030054068



                    </h4>
                    <!-- <h4>Unit C, Waterside Park, Goldshill Way, Tipton, West Midlands, DY4 0PU

                    </h4> -->
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="address">
                    <h1>Contact</h1>
                    <h4>Phone: +86 21 5032 5696</h4>
                    <h4>Fax: +44 (0)121 521 0101

                    </h4>
                    <h4> Email:<a href="#"> china@trfastenings.com</a></h4>
                    <!-- <h4> Email:<a href="#"> Sustainability</a></h4> -->
                </div>
            </div>
            
        </div>
    </div>

  
</section>