<!-- <div class="input-group">
    <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div> -->
<div class="container">
    <div class="row1">
        <div class="input-group">
            <form action="" >
                <input type="text" placeholder="Search for products" name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div>
        <!-- <div class="input-group">
            
            <div class="form-outline" >
                <input type="search" id="form1" class="form-control" /> -->
                <!-- <label class="form-label" for="form1" style="color: white;">Search for products</label>
            </div>
            <button type="button" class="btn" style="color: white;"><i class="bi bi-search"></i></button>
        </div> -->
        <div class="button-container">
            <div>
                <button class="border-top">
                    <span>Catalogue</span>
                    <span> ›</span>
                </button>
            </div>
            <div>
                <button class="border-top">
                    <span>Company Literature</span>
                    <span>›</span>
                </button>
            </div>
            <div>
                <button class="border-top">
                    <span>Knowledge Base</span>
                    <span>›</span>
                </button>
            </div>
            <div>
                <button class="border-top">
                    <span>Product News</span>
                    <span>›</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="title">
    <h5>Home> <a href="">Products</a></h5>
</div>

<div class="card-container">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/3e246016ad7f4ec190c3eecc07e2ed18.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title"><a href="">Screws and Bolts</a></h5>
           <div class="subtitle">
           <a href="">Machine Screws</a><br>
            <a href="">Screws for Plastic</a><br>
            <a href="">Hexagon Socket Screws</a><br>
            <a href="">Hexagon Screws and Bolts</a><br>
            <a href="">Set Screws</a><br>
            <a href="">See the full range</a>
        </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/3644db77562842bfa1a5b8230b62512a.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"> <a href="">Nuts</a></h5>
            <a href="">Standard Hexagon</a><br>
            <a href="">Standard Flange</a><br>
            <a href="">Nylon Insert</a><br>
            <a href="">All Metal Self Locking</a><br>
            <a href="">Weld</a><br>
            <a href="">See the full range</a>

        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/b1524fa1188e4b6ebea1360bdf36f928.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href="">Washers, Rings, Seals</a></h5>
            <a href="">Washers</a><br>
            <a href="">O-Rings</a><br>
            <a href="">HBonded Seals</a><br>
            <a href="">Circlips</a><br>
            <a href="">Rings</a><br>
            <a href="">See the full range</a>

        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/a6398c530f1243d4886d07258199acbb.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href="">Fasteners for Metal</a></h5>
            <a href="">Self Clinch Fasteners</a><br>
            <a href="">Hank® Rivet Bushes</a><br>
            <a href="">Blind Rivet Nuts</a><br>
            <a href="">Blind Rivets</a><br>
            <a href="">Weld Nuts</a><br>
            <a href="">See the full range</a>

        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/90ff2b0c93bf407c8327ba47626e0c75.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href="">Fasteners for Plastic</a></h5>
            <a href="">Inserts for Plastic</a><br>
            <a href="">Screws for Plastic</a><br>
            <a href="">Compression Limiters</a><br>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/87fdbdb3cb8944c98d89c37e24c77afc.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href="">Enclosure Hardware</a></h5>
            <a href="">Locking Systems</a><br>
            <a href="">Locks</a><br>
            <a href="">Locks Components</a><br>
            <a href="">Clamps and Terminals</a><br>
            <a href="">Gaskets</a><br>
            <a href="">See the full range</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/00d6dac4e8c6439cba18f9ca29434ab7.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href="">Plastic Hardware</a></h5>
            <a href="">Circuit Board Hardware</a><br>
            <a href="">Cable Management</a><br>
            <a href="">Rivets and Panel Fasteners</a><br>
            <a href="">Machine Screws</a><br>
            <a href="">Nuts</a><br>
            <a href="">See the full range</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/00d6dac4e8c6439cba18f9ca29434ab7.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"> <a href="">Cable Glands</a></h5>
            <a href="">Hummel® Cable Glands and Accessories</a><br>
            <a href="">Generic Cable Glands and Accessories</a><br>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/12aa0f5128714f97bbedd9ab3fd68775.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href="">Security Fasteners</a></h5>
            <a href="">Self Tapping Screws</a><br>
            <a href="">Wood Screws</a><br>
            <a href="">Self Drilling Screws</a><br>
            <a href="">Nuts</a><br>
            <a href="">See the full range</a><br>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/d20ad9b1a2ba4532a3730fced06f576d.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href="">Spacers and Pillars</a></h5>
            <a href="">Threaded Spacers</a><br>
            <a href="">Threaded Pillars</a><br>
            <a href="">Through Spacers</a><br>
            <a href="">Tooling and Driver Bits</a><br>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/ad50d358e028414e83b52166a3c1ae72.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href=""> Tooling and Driver Bits</a></h5>
            <a href="">Standard Drivers</a><br>
            <a href="">Security Drivers</a><br>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/b2fdcf05fb244729813093f9734bce43.jpg"
            alt="Card image cap">
        <div class="card-body subtitle" style="text-align: left;">
            <h5 class="card-title"><a href="">Other Hardware</a></h5>
            <a href="">Hose Clips and Clamps</a><br>
            <a href="">Medical Hardware</a><br>
            <a href="">Pins and Keys</a><br>
            <a href="">Swivel Braked Castors</a><br>
            <a href="">Swivel Castors</a><br>
            <a href="">See the full range</a><br>
        </div>
    </div>
</div>