<!-- //////////////////// hero section //////////////////// -->

<div class="hero-image">
  <div class="hero-image-triangle">
    <div class="triangle-text">
      <h3>TR IN INDUSTRY</h3>
      <h1>Industries</h1>
      <p>
        TR supplies components to over 5,000 companies globally across a wide
        range of industries.
      </p>
    </div>
  </div>
</div>
<div class="hero-image-bottom">
  <div class="bottom-text">
  <h1>
    Blending our global manufacturing capability, with strong distribution and
    logistic support, creates a winning combination.
  </h1>
  </div>
</div>

<!-- //////////////////////////// second section ////////////////////////// -->
<div class="main">
  <div class="inner">
    <h1>
      This meets the changing needs of developed global multinationals across
      four continents, and those of new start-up ‘disruptive innovators’;
      companies, products, or services that rise out of left field and
      completely change their respective industries
    </h1>
    <br />
    <h3>
      We are actively involved in the medical equipment field, and in the
      fast-paced development of electric vehicles and battery technology. We
      have had major successes already and we are very focused on the future of
      new emerging technologies.
    </h3>
    <hr />
    <h4>Sales support</h4>
    <h3>
      We have service models that are adapted to meet customers’ requirements.
      Understanding the needs of varied customer business models has enabled us
      to structure our sales and service teams to support and meet their
      expectations.
    </h3>
    <br />
    <h3>
      Global Account Directors (GAD’s), specific to a sector, are there to
      support and develop business with global OEM’s working at a corporate
      level. The flow down of the OEM strategy is further developed at a
      regional level and managed by the Strategic Account Managers (SAM’s)
      working very closely with the Business Development Manager’s (BDM’s) in
      that geography.
    </h3>
    <br />
    <h3>
      We have transactional and product sales teams in position to service the
      non-contract customers where fast turnaround is required. In addition
      there is a dedicated team in place to support Distributors providing them
      with TR’s fast growing proprietary product range.
    </h3>
  </div>
</div>

<!-- ////////////////////////////// third section /////////////////////////// -->
<div class="main">
  <div class="inner video-section">
    <div class="section-first">
      <h1>TR's Smart City</h1>
      <h3>
        TR Fastenings' innovative interactive Smart City demonstrates our role
        in the future building of a fully connected living.
      </h3>
      <hr />
    </div>
    <div class="section-second">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/WTdZy_VXKIk?si=WraZxvkWjqlGDRLW"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        modestbranding=0
      ></iframe>
    </div>
  </div>
</div>

<!-- ////////////////////////// fourth section /////////////////////// -->
<div class="main">
  <div class="inner video-section">
    <div class="section-first">
      <h1>Industries we supply to</h1>
      <h3>
        Find out more about the products and services we offer to the various
        sectors we support.
      </h3>
    </div>
  </div>

  <div class="img-section">
    <div class="img1">
      <img
        src="https://trfastenings.blob.core.windows.net/sitecontent/5d3fa4cc9c754f5c8598da45d9590ed8.jpg"
        alt=""
      />
      <div class="triangle" style="background-color: rgb(70, 159, 243)">
        <h5>Light vehicle</h5>
        <h3>
          Passenger vehicles, SUVs, niche builds, leisure and off-road-2&4
          wheeler
        </h3>
      </div>
    </div>

    <div class="img1">
      <img
        src="https://trfastenings.blob.core.windows.net/sitecontent/46dcc5cd5d4844ef9045f5b86bfcc05f.jpg"
        alt=""
      />
      <div class="triangle" style="background-color: rgb(6, 187, 193)">
        <h5>Heavy vehicle</h5>
        <h3>
          Vehicles and products associated with the bulk movement of people,
          goods and services
        </h3>
      </div>
    </div>

    <div class="img1">
      <img
        src="https://trfastenings.blob.core.windows.net/sitecontent/a961111b5cab4bd78f3ca56e03838ad1.png"
        alt=""
      />
      <div class="triangle" style="background-color: orange">
        <h5>Health & home</h5>
        <h3>Medical, health and domestic appliance industries</h3>
      </div>
    </div>

    <div class="img1">
      <img
        src="https://trfastenings.blob.core.windows.net/sitecontent/763682d47ddd4ef5bea733d6187ad7e5.jpg"
        alt=""
      />
      <div class="triangle" style="background-color: purple">
        <h5>Energy, tech & infrastructure</h5>
        <h3>
          Power distribution, power generation, tech equipement and 5G
          infrastructure systems
        </h3>
      </div>
    </div>

    <div class="img1">
      <img
        src="https://trfastenings.blob.core.windows.net/sitecontent/22477a1ca19742499ab538cc1089b613.png"
        alt=""
      />
      <div class="triangle">
        <h5>General industrial</h5>
        <h3>
          Generalised industries not specific to any one end market, from sheet
          metal sub-contractors to machinery builders and plastic moulding
          companies.
        </h3>
      </div>
    </div>

    <div class="img1">
      <img
        src="https://trfastenings.blob.core.windows.net/sitecontent/22477a1ca19742499ab538cc1089b613.png"
        alt=""
      />
      <div class="triangle" style="background-color: rgb(5, 105, 168)">
        <h5>Distributors</h5>
        <h3>
          Distributors customers in key geographies providing an outlet for TR
          Branded Products and associated fasteners
        </h3>
      </div>
    </div>
  </div>
</div>
