
<div class="header">
    <h2>Knowledge Base</h2>
  </div>
  
  <div class="main-container">
    <div class="get">
      Get Started:
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
  
      <div class="accordion" id="accordionPanelsStayOpenExample">
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne">
              <p>Engineering data</p>
            </button>
            <!-- <span class="accordion-icon">+</span> -->
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <a class="accordion-body title1">Engineering and fast terminology ».</a>
              <h5 style="color: #002d74;">Joint Design</h5>
              <ul >
                <li>Improving endurance strength »</li>
                <li>Design guidelines for cylindrical joints »</li>
                <li>Design guidelines for beam joints »</li>
                <li>Estimating bolt diameters »</li>
              </ul>
              <h5 style="color: #002d74;">Installation</h5>
              <ul>
                <li>Tapping sizes and clearance holes »</li>
                <li>Guidelines for tightening factors and tolerances »</li>
              </ul>
              <div>
              <ul>Fastener standards »</ul>
              <ul>Fastener standards »</ul>
              <ul>Wire number gauge conversion tables »</ul>
              <ul>Decimal equivalents »</ul>
              <ul>IP ratings for Enclosure Hardware »</ul>
              <ul>Fasteners for Sheet Metal overview »</ul>
            </div>
            </div>
  
          </div>
  
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              <p>Tolerances</p>
            </button>
            <!-- <span class="accordion-icon">+</span> -->
            <!-- <span style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">+</span> -->
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <div class="sublist">
              
              <ul href="">Coefficients of friction guidelines - stainless steel »</ul><br>
              <ul href="">Coefficients of friction guidelines - steel »</ul><br>
            
          </div>
            </div>
          </div>
  
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree">
              <p>Materials</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <div class="sublist">
              <ul> Stainless steel material properties »</ul><br>
              <ul>Hardness comparison tables »</ul><br>
              <ul>Plastics material specifications »</ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFour">
              <p>Coatings</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              <div class="sublist">
              <ul> Surface finish overview »</ul><br>
              <ul>Electroplated zinc »</ul><br>
              <ul>Zinc flake »</ul><br>
              <ul>Hydrogen embrittlement »</ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFive">
              <p>Tread geometries</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              <div class="sublist">
              <ul>Metric coarse standard »</ul><br>
              <ul>Metric fine »</ul><br>
              <ul>Unified Coarse UNC »</ul><br>
              <ul>Unified Fine UNF »</ul><br>
              <ul>Unified Extra Fine UNEF »</ul><br>
              <ul>British Standard Whitworth BSW »</ul><br>
              <ul>British Standard Fine »</ul><br>
              <ul>British Association »</ul><br>
              <ul>Thread conversion table »</ul><br>
            </div>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseSix">
              <p>Metric Screws</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
              <div class="sublist">
              <ul>Metric coarse standard »</ul><br>
              <ul>Metric fine »</ul><br>
              <ul>Unified Coarse UNC »</ul><br>
              <ul>Unified Fine UNF »</ul><br>
              <ul>Unified Extra Fine UNEF »</ul><br>
              <ul>British Standard Whitworth BSW »</ul><br>
              <ul>British Standard Fine »</ul><br>
              <ul>British Association »</ul><br>
              <ul>Thread conversion table »</ul><br>
              </div>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseSeven">
              <p>Self Tapping Screws</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSeven">
            <div class="accordion-body">
              <div class="sublist">
              <ul>Thread geometry »</ul><br>
              <ul>Hole sizes »</ul><br>
              <ul>Torque data »</ul><br>
              </div>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseEight">
              <p>Threadforming screws for Metal</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingEight">
            <div class="accordion-body">
              <ul>DIN7500 Tap-Fix® hole sizes sheet »</ul><br>
              <ul>DIN7500 Tap-Fix® hole sizes extruded holes »</ul><br>
              <ul>DIN7500 Tap-Fix® torsional performance »</ul><br>
              <ul>DIN7500 Tap-Fix® BUMAX® stainless steel screws »</ul><br>
              <ul>B thread to JIS hole sizes »</ul><br>
              </div>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseNine">
              <p>Fasteners for Plastic </p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingNine">
            <div class="accordion-body">
              <div class="sublist">
              <ul>Screws for Plastic design guide considerations »</ul><br>
              <ul>Plas-Tech 30® installation guide and hole sizes »</ul><br>
              <ul>Plas-Fix 45® installation guide and hole sizes »</ul><br>
              <ul>Plas-Fix 60® installation guide and hole sizes »</ul><br>
              <ul>Screws for Plastic to JIS hole sizes »</ul><br>
              </div>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTen">
              <p> Matic Nuts and Washers</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTen">
            <div class="accordion-body">
              <div class="sublist">
              <ul>Wedge Lock Nuts »</ul><br>
              <ul>Flat Washer standards »</ul><br>
              </div>
            </div>
          </div>
        </div>
  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseEleven">
              <p>Self Clinch Fasteners </p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingEleven">
            <div class="accordion-body">
              <div class="sublist">
              <ul>Nut installation and tooling »</ul><br>
              <ul>Stud installation and tooling »</ul><br>
              <ul>Flush Nut installation and tooling »</ul><br>
              <ul>Broaching Nut installation »</ul><br>
              <ul>Broaching Standoff installation and tooling »</ul><br>
              <ul>Blind Standoff installation and tooling »</ul><br>
              <ul>Floating Fastener installation and tooling »</ul><br>
              <ul>Clip on Standoff installation and tooling »</ul><br>
              <ul>Low Profile Panel Fastener installation and tooling »</ul><br>
              <ul>Panel Fastener installation and tooling »</ul><br>
              <ul>Recess Panel fastener installation and tooling »</ul><br>
              <ul>Self Clinch Pin installation and tooling »</ul><br>
              </div>
            </div>
          </div>
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwel">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwel" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwel">
              <p>Rivet Bushes</p>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwel" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwel">
            <div class="accordion-body">
              <div class="sublist">
              <ul>Rivet Bush tooling »</ul><br>
              <ul>Round Serrated Face Rivet Bush installation and tooling »</ul><br>
              <ul>Round Serrated Spigot Rivet Bush installation and tooling »</ul><br>
              <ul>Hexagon Rivet Bush installation and tooling »</ul><br>
              <ul>Tank Rivet Bush installation and tooling »</ul><br>
              <ul>Round Serrated Face Mini Rivet Bush installation and tooling »</ul><br>
              <ul>Round Serrated Face Rivet Bush Standoff installation and tooling »</ul><br>
              <ul>Round Serrated Face Mini Rivet Bush Standoff installation and tooling »</ul><br>
              <ul>Swage Nut Rivet Bush installation and tooling »</ul><br>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
  
      
  
    </div>
  
  
  