<div class="header">
    <h2>Knowledge Base</h2>
  </div>
  
  <div class="main-container">
    <div class="get">
      Get Started:
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <!-- Engineering Data -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Engineering data
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a class="accordion-body">Engineering and fastener terminology ».</a>
          <h5 style="color: #002d74;">Joint Design</h5>
          <ul>
            <li>Improving endurance strength »</li>
            <li>Design guidelines for cylindrical joints »</li>
            <li>Design guidelines for beam joints »</li>
            <li>Estimating bolt diameters »</li>
          </ul>
          <h5 style="color: #002d74;">Installation</h5>
          <ul>
            <li>Tapping sizes and clearance holes »</li>
            <li>Guidelines for tightening factors and tolerances »</li>
          </ul>
  
          <ul>Fastener standards »</ul>
          <ul>Fastener standards »</ul>
          <ul>Wire number gauge conversion tables »</ul>
          <ul>Decimal equivalents »</ul>
          <ul>IP ratings for Enclosure Hardware »</ul>
          <ul>Fasteners for Sheet Metal overview »</ul>
        </div>
        
      </div>
  
      <!-- Tolerances -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Tolerances
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href=""> Coefficients of friction guidelines - stainless steel »</a><br>
            <a href="">Coefficients of friction guidelines - steel »</a>
          </div>
        </div>
      </div>
  
      <!-- material -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Materials
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href=""> Stainless steel material properties »</a><br>
              <a href="">Hardness comparison tables »</a><br>
              <a href="">Plastics material specifications »</a>
          </div>
        </div>
      </div>
      
  
      <!-- Coatings -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Coatings
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href=""> Surface finish overview »</a><br>
            <a href="">Electroplated zinc »</a><br>
            <a href="">Zinc flake »</a><br>
            <a href="">Hydrogen embrittlement »</a>
          </div>
        </div>
      </div>
  
  
      <!-- Thread geometries -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Thread geometries
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href="">Metric coarse standard »</a><br>
            <a href="">Metric fine »</a><br>
            <a href="">Unified Coarse UNC »</a><br>
            <a href="">Unified Fine UNF »</a><br>
            <a href="">Unified Extra Fine UNEF »</a><br>
            <a href="">British Standard Whitworth BSW »</a><br>
            <a href="">British Standard Fine »</a><br>
            <a href="">British Association »</a><br>
            <a href="">Thread conversion table »</a><br>
          </div>
        </div>
      </div>
  
      <!-- Metric Screws -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Metric Screws
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a class="accordion-body">Engineering and fastener terminology ».</a>
          <h5 style="color: #002d74;">Joint Design</h5>
          <ul>
            <li>Improving endurance strength »</li>
            <li>Design guidelines for cylindrical joints »</li>
            <li>Design guidelines for beam joints »</li>
            <li>Estimating bolt diameters »</li>
          </ul>
          <h5 style="color: #002d74;">Installation</h5>
          <ul>
            <li>Tapping sizes and clearance holes »</li>
            <li>Guidelines for tightening factors and tolerances »</li>
          </ul>
        </div>
      </div>
  
      <!-- Self Tapping Screws -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Self Tapping Screws
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href="">Thread geometry »</a><br>
            <a href="">Hole Sizes »</a><br>
            <a href="">Torque Data »</a><br>
          </div>
        </div>
      </div>
  
  
      <!-- Threadforming Screws for Metal -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Threadforming Screws for Metal
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href="">DIN7500 Tap-Fix® hole sizes sheet »</a><br>
            <a href="">DIN7500 Tap-Fix® hole sizes extruded holes »</a><br>
            <a href="">DIN7500 Tap-Fix® torsional performance »</a><br>
            <a href="">DIN7500 Tap-Fix® BUMAX® stainless steel screws »</a><br>
            <a href="">B thread to JIS hole sizes »</a><br>
          </div>
        </div>
      </div>
  
      <!-- Fasteners for Plastic -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Fasteners for Plastic
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href="">Screws for Plastic design guide considerations »</a><br>
            <a href="">Plas-Tech 30® installation guide and hole sizes »</a><br>
            <a href="">Plas-Fix 45® installation guide and hole sizes »</a><br>
            <a href="">Plas-Fix 60® installation guide and hole sizes »</a><br>
            <a href="">Screws for Plastic to JIS hole sizes »</a><br>
          </div>
        </div>
      </div>
  
  
      <!-- Metric Nuts and Washers -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Metric Nuts and Washers
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href="">Wedge Lock Nuts »</a><br>
            <a href="">Flat Washer standards »</a><br>
          </div>
        </div>
      </div>
  
      <!-- Self Clinch Fasteners -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style=" font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Self Clinch Fasteners
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href="">Nut installation and tooling »</a><br>
            <a href="">Stud installation and tooling »</a><br>
            <a href="">Flush Nut installation and tooling »</a><br>
            <a href="">Broaching Nut installation »</a><br>
            <a href="">Broaching Standoff installation and tooling »</a><br>
            <a href="">Blind Standoff installation and tooling »</a><br>
            <a href="">Through Standoff installation and tooling »</a><br>  
          </div>
        </div>
      </div>
  
  
      <!-- Rivet Bushes -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"  style=" font-weight: bold;"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Rivet Bushes
          </a>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <a href="">Rivet Bush tooling »</a><br>
            <a href="">Round Serrated Face Rivet Bush installation and tooling »</a><br>
            <a href="">Round Serrated Spigot Rivet Bush installation and tooling »</a><br>
            <a href="">Hexagon Rivet Bush installation and tooling »</a><br>
            <a href="">Tank Rivet Bush installation and tooling »</a><br>
            <a href="">Round Serrated Face Mini Rivet Bush installation and tooling »</a><br>
            <a href="">Round Serrated Face Rivet Bush Standoff installation and tooling »</a><br>
            <a href="">Swage Nut Rivet Bush installation and tooling »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  