* {
  font-family: Montserrat, Open Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.header {
  background-color: #002d74;
  color: #fff;
  padding: 66px 0 66px;
}

.header h2 {
  padding-left: 250px;
  font-size: 2.375rem;
}
.accordion-body ul li::marker {
  color: black; /* Set the color of the list item marker to black */
}

.accordion-item button {
  /* border: 2px solid red; */
  margin-left: 0px;
  color: #38a2dc;
  font-size: 1.25rem;
}

.main-container {
  padding: 80px 0 100% 0;
  background-color: #f0f0f0;
}

.main-container,
.get {
  font-size: 35px !important;
  color: #002d74;
  text-align: center;
  padding: 0%;
  margin: 0;
  padding: 0% 0;
  padding-bottom:2%;
  /* border: 1px solid red; */
}
.get{
  margin: 5% 0% !important;
  /* margin-bottom: 1% !important; */
  /* border: 1px solid red; */
  
}

.accordion-button {
  background-color: #ffffff !important;
  border: none !important;
  padding-top: 2% !important;
  width: 100% !important;
  height: 100% !important;
  /* border: 1px solid red !important; */
  border-radius: 7px !important;
}

.accordion-button:focus {
  background-color: #38a2dc !important;
  border-radius: 7px !important;
  color: #ffffff !important;
}
.accordion-header p{
  margin-left: 10% !important;
  /* border: 2px solid red; */
}
.accordion-button p {
  /* border: 1px solid red; */
  margin-left: 3rem;
}

.accordion-body a {
  margin-left: 8.2% !important;
  color: #38a2dc;
  font-size: 1.25rem;
}

.accordion-body a:hover {
  text-decoration: underline !important;
  color: #002d74 !important;
  cursor: pointer;
}

.accordion-body h5 {
  margin-left: 10% !important;
  margin-top: 2% !important;
  font-size: 20px !important;

}

.accordion-body li {
  margin-left: 11% !important;
  /* border: 2px solid red; */
}

.accordion-body li:hover {
  text-decoration: underline !important;
  color: #323c41 !important;
  cursor: pointer;
}

.accordion-body div{
  padding-top: 3%;
  /* border: 2px solid red;  */
}
.accordion-body div ul {
  margin-left: 7%;
  line-height: 20px;
  /* border: 2px solid red; */
}

.accordion-body .sublist {
  margin-left: 0%;
  line-height: 10px;
  color: #00a9b3;
}

.accordion-body div ul:hover {
  text-decoration: underline !important;
  color: #323c41 !important;
  cursor: pointer;
}

.accordion-item {
  padding: 5px;
  margin: 150px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #fff !important;
  color: #38a2dc !important;
  margin-bottom: 20px;
  padding: 0;
  /* Adjust the value to your preference for the space between accordion items */
}

.accordion-header{
  margin: 0;
  width: 100% !important;
  /* border: 2px solid red; */
}

.accordion-item button {
  font-weight: 600;
  width: 100%;
  /* margin-left: 2rem; */

}
.accordion-button{
  border: none;
  outline: none;
  box-shadow: none;
}


.accordion-item a {
  /* border: 2px solid red; */
  margin-left: 0rem;
  border: none;
}

.accordion-collapse {
  margin-left: 0;
margin: 0;
  color: #002d74;
  border: 2px solid #38a2dc;
}

.accordion-item,
.accordion-body {
  color: #00a9b3 !important;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

}

.accordion-button .h5 {
  color: #121314;
  margin: 5px;
  font-weight: 600;
  font-size: 17px;
  font-family: "Open Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  /* text-align: left; */
  margin-right: 10px;
}

.accordion-collapse,
.li {
  color: #00a9b3;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.25rem;
  /* border: 1px solid red; */
  font-family: "Open Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.accordion-collapse h5 {
  font-weight: 600;
  font-size: 17px;
}
.accordion-icon {
  font-size: 20px !important;
  color: #007bff !important;
  margin-right: 10px !important;
}

@media only screen and (max-width:768px) {

  .accordion-item h2 {
    /* border:  1px solid red !important; */
    font-size: 2.375rem;
    text-align: center !important;
    display: contents;
  }

  .accordion-body .title1{
    /* border: 1px solid red; */
    padding:-0rem !important;
  }
  .accordion-body h5{
    margin-left: -0rem !important;
  }

  .accordion-body .sublist{
    /* border: 1px solid red; */
    margin: 0 !important;
    padding: 0% !important;
    margin-left: 10%;
  }
  .accordion-body .sublist ul{
    /* border: 1px solid green; */
    padding: 0;
    margin: 0;
  }
  .accordion-item button {
    margin-left: 0% !important;
    padding: 10% 0;
    height: 80% !important;
    width: 100% !important;   
    /* border: 1px solid red !important; */
  }

  .accordion-button p {
    /* display: block; */
    /* border: 1px solid green; */
    margin: auto;
    margin-top:5% ;
  }

  .header a {
    /* border: 1px solid red !important; */
    margin-inline-start: -16rem !important;
  }

  .accordion-collapse {
    border: 2px solid #38a2dc;
    margin:auto;
    /* border: 1px solid rgb(36, 34, 34) !important;   */
    width: 100%;
    height: 80%;
  }

  .accordion-item {
    /* border: 3px solid orange !important; */
    width: 75%;
    margin-right: 0.5rem;
    /* margin-top: 5% !important; */
    margin-bottom: 3% !important;
    margin: auto;
  }

  .accordion-body a {
    margin-left: -0rem !important;
  }

  .accordion-button {
    /* border: 2px solid red; */
    margin-left: 0rem !important;
    width: 100%;
    height: 100%;
  }

  .get {
    text-align: center !important;
    padding: 3rem;
    margin-top: -3rem;
    /* margin: 1% 0% !important; */
  }

  .accordion-item h2 {
    font-family: Montserrat, Open Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    font-weight: 500 !important;
  }

  .header h2{
    /* border: 2px solid red; */
    text-align: left;
    margin: 0%;
    padding: 0% 2%;
    font-weight: 400;
    
  }
  .main-container,
  .get,
  .accordion-item a,
  .accordion-item,
  .accordion-body,
  .accordion-button,
  .h5,
  .accordion-collapse,
  .li {
    font-size: 16px;
    text-align: left;
    /* border:1px solid red; */

  }

}
@media (min-width: 992px) {
  .main-container {
    padding: 100px 0;
  }
  .main-container,.get {
    /* border: 1px solid red; */
    
  }
}

@media (min-width: 1200px) {
  .main-container {
    padding: 60px 0;
  }
  .get{
    margin: 1% 0% !important;
  }
}
