<div class="link">
    <div class="links-card">
        <div class="box" style="background-color: rgb(0,45,116)">
            <h6>TR working with LEVC</h6><br>
            <h3>TR Fastenings provides time-critical solution to The London EV Company</h3>
            <button style="background-color: rgb(0,45,116)">Find out more</button>
            <div class="arrow"><mat-icon style="color: rgb(0,45,116)"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: rgb(243,144,8)">
            <h6>Advanced Engineering UK
            </h6><br>
            <h3>TR to exhibit at Advanced Engineering UK 1-2 Nov</h3>
            <button style="background-color: rgb(243,144,8)">Find out more</button>
            <div class="arrow"><mat-icon style="color: rgb(243,144,8)"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: rgb(100,38,130)">
            <h6>TR Fastenings association with NEAA
            </h6><br>
            <h3>Why the association with the NEAA is important to TR Fastenings</h3>
            <button style="background-color: rgb(100,38,130)">Find out more</button>
            <div class="arrow"><mat-icon style="color:rgb(100,38,130)"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: rgb(0,169,179)">
            <h6>TR VIC renowned manufacturer
            </h6><br>
            <h3>TR VIC - a renowned manufacturer</h3>
            <button style="background-color: rgb(0,169,179)">Find out more</button>
            <div class="arrow"><mat-icon style="color: rgb(0,169,179)"> call_made</mat-icon></div>
        </div>
        <!-- <div class="box" style="background-color: #38a2dc;">
            <h6>LATEST NEWS</h6><br>
            <h3>Regulatory news service (RNS)</h3>
            <button style="background-color: #38a2dc;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #38a2dc;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #f39008;">
            <h6>RESEARCH AND ANALYSIS</h6><br>
            <h3>Equity research</h3>
            <button style="background-color: #f39008;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #f39008;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #00a9b3;">
            <h6>ANALYSIS</h6><br>
            <h3>Share data</h3>
            <button style="background-color: #00a9b3;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #00a9b3;"> call_made</mat-icon></div>
        </div>
        <div class="box6" style="background-color: #002d74;">
            <h6>DOWNLOADS</h6><br>
            <h3>Reports and presentations</h3>
            <button style="background-color: #002d74;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #002d74;"> call_made</mat-icon></div>
        </div> -->
    </div>
</div>
