<div class="link">
    <div class="links-card">
        <div class="box" style="background-color: #1a7abf;">
            <h6>OPPORTUNITY</h6><br>
            <h3>What sets us apart</h3>
            <button style="background-color: #1a7abf;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #1a7abf;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #642682;">
            <h6>INVESTOR PORTAL</h6><br>
            <h3>Shareholder information</h3>
            <button style="background-color: #642682;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #642682;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #009640;">
            <h6>ACCOUNTABILITY</h6><br>
            <h3>Governance</h3>
            <button style="background-color: #009640;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #009640;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #878787;">
            <h6>DELIVERING RETURNS</h6><br>
            <h3>Financial information</h3>
            <button style="background-color: #878787;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #878787;"> call_made</mat-icon></div>
        </div>
        <!-- <div class="box" style="background-color: #38a2dc;">
            <h6>LATEST NEWS</h6><br>
            <h3>Regulatory news service (RNS)</h3>
            <button style="background-color: #38a2dc;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #38a2dc;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #f39008;">
            <h6>RESEARCH AND ANALYSIS</h6><br>
            <h3>Equity research</h3>
            <button style="background-color: #f39008;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #f39008;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #00a9b3;">
            <h6>ANALYSIS</h6><br>
            <h3>Share data</h3>
            <button style="background-color: #00a9b3;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #00a9b3;"> call_made</mat-icon></div>
        </div>
        <div class="box6" style="background-color: #002d74;">
            <h6>DOWNLOADS</h6><br>
            <h3>Reports and presentations</h3>
            <button style="background-color: #002d74;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #002d74;"> call_made</mat-icon></div>
        </div> -->
    </div>
</div>
