<div class="line">

</div>

<div class="container-fluid  bg-body-tertiary footer">
    <div class="row">
        <div class="col-md-4 footer-left ">
            <div class="footer-img ">
                <img src="https://trfastenings.blob.core.windows.net/sitecontent/358606d6843655b2345bcd7a37f3944b.png"
                    class="img-thumbnail " alt="...">
                <div class="text">
                    <p>Focused on the future</p>
                    <div class="purpose">
                        <h2>Our purpose:</h2>
                        <p>To provide Trusted Reliability at every turn <br> to our customers, suppliers and our people,
                            <br> empowering them to deliver sustainable <br> products and solutions that add value to
                            <br> society and our planet.
                        </p>
                        <h2>Contact Us:</h2>
                        <p>Trifast House, Bellbrook <br> Park, Uckfield, East Sussex, <br> TN22 1QW</p>
                        <p class="mt-3">Tel: 08454 811 800</p>
                        <div class="email">
                            <p>Email: <a href="#">General enquries</a></p>
                            <p>Email: <a href="#">Investers relations</a></p>
                            <p>Email: <a href="#">Shareholders</a></p>
                        </div>
                    </div>
                    <div class="connect">
                        <h4>Connect with us</h4>
                        <hr>
                        <div class="icon d-flex">

                            <img src="https://trfastenings.blob.core.windows.net/sitecontent/4351ded7e7e1464b98d2502a34c653b7.svg"
                                class="img-thumbnail" alt="...">
                            <img src="https://trfastenings.blob.core.windows.net/sitecontent/75a225deccc8419c938f5e948bf2d650.svg"
                                class="img-thumbnail" alt="...">
                            <img src="https://trfastenings.blob.core.windows.net/sitecontent/ce945acf864e400c935d920987a01edd.svg"
                                class="img-thumbnail" alt="...">
                            <img src="https://trfastenings.blob.core.windows.net/sitecontent/b52f52e476314bb9b549144dd67cb7f8.svg"
                                class="img-thumbnail" alt="...">





                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="branches">
                <h2>Proud member of the Trifast plc Group of companies
                </h2>
                <hr>
                <div class="branches-img ">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/67c5f22b22e0497da5198214c57270ab.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/2a6fc4ab17aa4a1aa7ab42604e042973.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/245ac7890ae65477df4f757825e51234.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/87623bc456dea098765412bcede09854.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/9faf41502d58493fc7c3a5c607a82d98.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/b4df9d11d05d4db5c0d2522760b028ea.png"
                        class="img-thumbnail" alt="...">
                </div>
                <div class="branches-img mt-4 ">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/e247718850c3477cac0134945524aee3.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/d7621562148343a1c7200ac999b81eb8.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/70de797ab9bd41a9a261eb4d22e0e8ae.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/35a1a5da4255410ab0883de9846b21d3.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/2c5665e00e52419ec4df293440a799ac.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/13491268d4284377df4f707e25e45248.png"
                        class="img-thumbnail" alt="...">
                </div>



            </div>


            <div class="menus ">
                <h2><a href="#">Company</a>
                    <hr>
                </h2>
                <h2><a href="#">Products</a>
                    <hr>
                </h2>
                <h2><a href="#">Contact</a>
                    <hr>
                </h2>
                <h2><a href="#">Services</a>
                    <hr>
                </h2>

            </div>
            <div class="menus-two ">
                <h2 class="ms-3"><a href="#">Investers</a>
                    <hr>
                </h2>
                <h2><a href="#" class="knowledge ms-3">Knowledge</a>
                    <hr>
                </h2>
                <h2><a href="#">Sustainability</a>
                    <hr>
                </h2>
                <h2><a href="#">Industry</a>
                    <hr>
                </h2>

            </div>
            <div class="menus-three ">
                <h2><a href="#">Careers</a>
                    <hr>
                </h2>
                <h2><a href="#">Register/Login</a>
                    <hr>
                </h2>
                <h2>
                </h2>
                <h2>
                </h2>

            </div>


            <div class="end ">
                <div class="img">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/24e300787d1b78d3077d8862365d7b85.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/36a411898d2c89e4188f0084476e8d07.png"
                        class="img-thumbnail" alt="...">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/34e300787d1b78e4188e9973476e8c96.png"
                        class="img-thumbnail" alt="...">
                        

                    <!-- <div class="newsletter">
                        <h3>Newsletter</h3>
                    </div> -->
                </div>
            </div>



        </div>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12  legal">
            <h4>Legal Documents</h4>
            <h4>Legal Documents</h4>
            <h4>Legal Documents</h4>
            <h4>Legal Documents</h4>
            <h4>Legal Documents</h4>
            <h4>Legal Documents</h4>
            <h4>Legal Documents</h4>
            
        </div>
    </div>
</div>