<div class="line"></div>

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="main">
  <div class="left-section">
    <div class="company-img">
      <img
        src="https://trfastenings.blob.core.windows.net/sitecontent/358606d6843655b2345bcd7a37f3944b.png"
        alt=""
      />
      <h3><i>Focused on the future</i></h3>
    </div>
    <div class="our-purpose">
      <h1>Our purpose:</h1>
      <p>
        To provide Trusted Reliability at every turn to our customers, suppliers
        and our people, empowering them to deliver sustainable products and
        solutions that add value to society and our planet.
      </p>

      <h1>Contact Us:</h1>
      <p>Trifast House, Bellbrook Park, Uckfield, East Sussex, TN22 1QW</p>
      <p>Tel: 08454 811 800</p>
      <p>
        <span>Email:<a href=""> General enquries</a></span
        ><br />
        <span>Email:<a href=""> Investers relations </a></span><br />
        <span>Email:<a href=""> Shareholders </a></span>
      </p>

      <div class="icon-section-heading">
        <h3>Connect with us</h3>
        <div class="icon-section">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/4351ded7e7e1464b98d2502a34c653b7.svg"
            alt=""
          />
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/75a225deccc8419c938f5e948bf2d650.svg"
            alt=""
          />
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/ce945acf864e400c935d920987a01edd.svg"
            alt=""
          />
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/b52f52e476314bb9b549144dd67cb7f8.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="image-section">
      <h1>Proud member of the Trifast plc Group of companies</h1>
      <div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/67c5f22b22e0497da5198214c57270ab.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/2a6fc4ab17aa4a1aa7ab42604e042973.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/245ac7890ae65477df4f757825e51234.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/87623bc456dea098765412bcede09854.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/9faf41502d58493fc7c3a5c607a82d98.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/b4df9d11d05d4db5c0d2522760b028ea.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/e247718850c3477cac0134945524aee3.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/d7621562148343a1c7200ac999b81eb8.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/70de797ab9bd41a9a261eb4d22e0e8ae.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/35a1a5da4255410ab0883de9846b21d3.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/2c5665e00e52419ec4df293440a799ac.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://trfastenings.blob.core.windows.net/sitecontent/2c5665e00e52419ec4df293440a799ac.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="menu-links">
      <h1><a href="#">Company</a></h1>
      <h1><a href="#">Products</a></h1>
      <h1><a href="#">Contact</a></h1>
      <h1><a href="#">Services</a></h1>
      <h1><a href="#">Investors</a></h1>
      <h1><a href="#">Knowledge Base</a></h1>
      <h1><a href="#">Sustainability</a></h1>
      <h1><a href="#">Industry</a></h1>
      <h1><a href="#">Careers</a></h1>
      <h1><a href="#">Register/Login</a></h1>
    </div>
    <div class="award-section">
      <div>
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/24e300787d1b78d3077d8862365d7b85.png"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/36a411898d2c89e4188f0084476e8d07.png"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/34e300787d1b78e4188e9973476e8c96.png"
          alt=""
        />
        <p class="annual-report">
          Download the Trifast plc Annual Report</p>
      </div>
      <div class="news-letter">
        <h2>Newsletter</h2>
        <h4>Stay up to date with news and innovations from TR</h4>
        <button class="btn">Sign up</button>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="legal">
    <h4>Legal Documents</h4>
    <h4>Terms % Conditions</h4>
    <h4>Slavery and Human Trafficking Statement</h4>
    <h4>Transparency Statement</h4>
    <h4>Code of Business Conduct</h4>
    <h4>Cookie Policy</h4>
    <h4>© 2016-23 Trifast plc</h4>
  </div>
</div>
