.line {
    height: 0.5rem;
    background-color: rgb(174, 154, 100);
  }
  /* //////////////////////////////////////////////////////////////////////////////////////// */
  
  .main {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2rem;
  }
  .left-section {
    width: 30%;
    height: auto;
    padding: 4%;
    box-sizing: border-box;
  }
  .company-img {
    width: 100%;
    height: auto;
  }
  .company-img h3 {
    color: #00a9b3;
    margin-top: 3%;
  }
  .our-purpose {
    width: 100%;
    height: auto;
    padding: 2% 3%;
  }
  .our-purpose h1 {
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin-bottom: 0px;
  }
  .our-purpose p {
    font-size: 16px;
    line-height: 24px;
  }
  .icon-section-heading {
    width: 100%;
    height: auto;
    padding: 2%;
  }
  .icon-section-heading h3 {
    margin-top: 5%;
    font-size: 1.1rem;
    color: rgb(27, 69, 132);
    border-bottom: 1px solid #969494;
    padding-bottom: 1%;
  }
  .icon-section {
    width: 100%;
    height: auto;
    padding: 5% 0%;
  }
  .icon-section img {
    margin-right: 5%;
  }
  
  /* ///////////////////// right section //////////////////// */
  .right-section {
    width: 70%;
    height: auto;
    padding: 2% 3%;
  }
  .image-section {
    width: 100%;
    height: auto;
  }
  .image-section h1,
  .menu-links h1 {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid black;
  }
  .image-section div {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .image-section div .img {
    width: 15%;
    margin: 2% auto;
  }
  .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .menu-links {
    width: 100%;
    height: auto;
    margin: 4% auto;
    display: flex;
    flex-wrap: wrap;
  }
  .menu-links h1 {
    width: 22%;
    padding: 1%;
    padding-bottom: 0;
    margin-right: 3%;
    border-bottom: 1px solid black;
    color: black;
    font-size: 18px;
  }
  .award-section {
    width: 100%;
    height: auto;
    display: flex;
  }
  .award-section div {
    width: 24%;
    height: auto;
    margin: auto;
    min-height: 180px;
  }
  .award-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
  }
  .news-letter {
    background-color: rgb(0, 169, 179);
    color: white;
    padding: 2%;
  }
  .btn {
    width: 40%;
    height: auto;
    padding: 5px;
    background-color: rgb(0, 45, 116);
    color: white;
  }
  /* legal section start */
  .legal {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 90%;
    margin-left: 5%;
  }
  
  .legal h4 {
    margin: auto;
    display: inline-block;
    font-size: 14px;
  }
  
  .legal h4::after {
    content: "";
    display: inline-block;
    border-left: 1px solid black;
    height: 70%;
    margin-left: 10px;
  }
  
  /* ////////////////////////////////////// responsive web design ////////////////////////// */
  
  @media screen and (max-width: 768px) {
    .main {
      display: block;
    }
    .left-section {
      display: block;
      width: 90%;
      padding: 2%;
    }
    .right-section {
      display: block;
      width: 90%;
    }
    .image-section div .img {
      width: 24%;
    }
    .img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  