* {
    /* margin: 0;
    padding: 0; */
}

.accordion {
    display: none;
}
.icons{
    display: none;

}

.navbar img {
    border: none;
}

.navbar-nav {
    margin-top: 8rem;

    margin-left: 15%;

    /* margin-left: 19%; */

    width: 80vw;
}

.dropdown-item:hover {
    text-decoration: underline;
}


.nav-item a {
    color: black;
    font-size: 18px;
    /* / color: blue; / */
}

.navbar-nav .nav-item .nav-link:hover {
    color: blue !important;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
}

#search {
    width: 2.5rem;
    border-radius: 5px;
    background-color: rgb(0, 169, 179);
}

#search:hover {
    background-color: rgb(0, 45, 116);
}

form {
    /* / display: flex; / */
    left: 8rem;
}

form .idea .bookmark {
    margin-left: -44rem;

}

.idea {
    margin-top: -1rem;
    /* / margin-left: 3rem; /
    / position: absolute; /
    / border-bottom: 5px solid black; / */
}

.bookmark {
    margin-top: -1rem;
    height: 1.8rem;
    background-color: rgb(241, 237, 237);
}

.bookmark a {
    text-decoration: none;
}

.bookmark a:hover {
    text-decoration: underline;
}

.image img {
    margin-top: -3.5rem;
    border: none;
}

.text {
    display: flex;
    margin: 10px;
}

.text h4 {
    margin-left: 1rem;
    font-size: 20px;
    color: rgb(0, 169, 179);
    margin-top: -2.5rem;
}

.text h5 {
    color: rgb(0, 169, 179);
    margin-top: -1.5rem;
    font-size: 14px;
}

.line {
    margin-top: -0.5rem;
    width: 27rem;
    margin-left: -32rem;
    color: black;
    height: 1px;
    background-color: black;
}

.text h4::after {
    margin-top: 1rem;
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: #000;
    margin-left: 18px;
}

.icons {
    margin-top: -1rem
}


/* / dropdown menu / */
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    left: 0;

    margin-left: -20rem;



}

.one {
    margin-left: -27rem !important;
}

.two {
    margin-left: -34rem !important;
}

.three {
    margin-left: -41rem !important;
}

.four {
    margin-left: -52.5rem !important;
}

.five {
    margin-left: -59rem !important;
}

.six {
    margin-left: -66.3rem !important;
}

.seven {
    margin-left: -75.4rem !important;
}



.dropdown-menu {
    display: none;
    /* border: 2px solid green; */
    position: absolute;
    margin-top: 1rem;
    width: 90vw;

    margin-left: -20rem;
    float: none;



}

.navbar img {
    border: none;
}

.col-md-2 {
    height: auto;
    padding: 10px;
}





/* / ------------------------------ / */


/* / accordian section start / */
.navbar-collapse {
    /* / border: 2px solid red; / */
}

.accordians {

    position: absolute;
    z-index: 1;
    width: 100%;
    margin-left: -1.7rem;

}


.accordion-item {
    border: none;
}

.accordion-button {
    background-color: transparent;
    color: #000;
    border: none;
}

.accordion-body {
    border-top: 2px solid #00a9b3;
    border-top: none;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-item {

    border: none;
}

.accordion-header {
    /* margin-top: -2rem; */
}


.accordion-body h3 a {
    text-decoration: none;
    color: black;
}

.accordion-body h3 a {
    margin-left: 2rem;
}

.accordion-body h3 a:hover {
    text-decoration: underline;
    
    color: black;
}

.accordion-button:hover {
    color: rgb(0, 169, 179);
    font-size: 1.05rem;

}

.accordion-button,
.accordion-body,
.accordion-collapse {
    background:whitesmoke;
 
    border-bottom: 1px solid #00a9b3;
  
}

.accordians{
    background: whitesmoke;
}

.accordion-button.collapsed+.accordion-collapse .accordion-body {
    display: block;
}

.navbar-collapse{
    margin: 0;
    padding: 0;
    /* background: whitesmoke; */
}



/* ------------- */



@media only screen and (max-width: 1408px) {
    .navbar-nav {
        margin-top: 14rem;

        margin-left: -8%;

        width: 80vw;
    }

    .dropdown-menu {

        margin-left: 4rem !important;
        width: 91vw;
    }

    .one {
        margin-left: -4rem !important;
    }

    .two {
        margin-left: -11rem !important;
    }

    .three {
        margin-left: -18rem !important;
    }

    .four {
        margin-left: -29rem !important;
    }

    .five {
        margin-left: -35.5rem !important;
    }

    .six {
        margin-left: -43rem !important;
    }

    .seven {
        margin-left: -52rem !important;
    }
  

}

@media only screen and (max-width: 992px) {
   
    .navbar img{
        /* margin-bottom: 2rem; */
    }
    .navbar-nav {
        display: none;
        margin-top: 8rem;
        margin-left: 15%;
        width: 80vw;
    }

    .dropdown-menu {
        display: none;
        margin-left: 4rem !important;
        width: 91vw;
    }
    .accordion {
        display: block;
        margin-top: 2rem;
      
    }
    .icons{
        display: block;
    
    }
    .icons{
        margin-top: 2rem;
        background: #ffff;
        display: flex;
        justify-content: space-around;
    }
    
      
    
}

@media only screen and (max-width: 1408px) {
    .navbar-nav {
        margin-top: 12rem;

        margin-left: -10rem;

        /* margin-left: 19%; */

        width: 80vw;
    }
   
}








/* 

@media only screen and (max-width: 1401px) {

 


    .navbar-nav {
        display: block;
        margin-top: 2rem;
        margin-left: 0;

    }

    .dropdown-menu {
        display: none;
        width: 80%;
        margin-left: 3rem;
        position: static;
    }

} */

@media only screen and (max-width: 768px) {
    .dropdown-menu {
        display: none;

    }

    .accordion {
        display: block;
        border: navajowhite;
    }

}

/* @media only screen and (max-width: 1477px) {
    
.navbar-nav {
    margin-top: 8rem;

    margin-left: 0;

   

    width: 100%;
}
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    left: 0;
  
    margin-left: -8rem;
 
  

}
.one{
    margin-left: -12%!important;  
}.two{
    margin-left: -12rem !important;  
}.three{
    margin-left: -15rem !important;  
}.four{
    margin-left: -52.5rem !important;  
}.five{
    margin-left: -59rem !important;  
}.six{
    margin-left: -66.3rem !important;  
}.seven{
    margin-left: -75.4rem !important;  
}
} */