<nav class="navbar navbar-expand-lg navbar-white bg-white shadow p-3  rounded">
    <div class="container-fluid">
        <img id="logo-img" routerLink="/"
            src="https://trfastenings.blob.core.windows.net/sitecontent/358606d6843655b2345bcd7a37f3944b.png"
            class="img-thumbnail" alt="...">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="accordians " style="background: whitesmoke;">
                <div class="accordion accordion-flush shadow p-3  rounded " id="accordionFlushExample"
                    style="background: whitesmoke;">
                    <div class="aa1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button  custom-btn collapsed" routerLink="/company"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                    Company
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h3> <a href="#">Newsroom &Media</a>
                                    </h3>
                                    <h3> <a href="#">Leadership</a></h3>
                                    <h3><a href="#">Documentation</a></h3>
                                    <h3><a href="#">Acquisition</a></h3>
                                    <h3><a href="#">KPI's</a></h3>
                                    <h3> <a href="#">Business model</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" routerLink="/investor" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Invester
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <h3> <a href="#">What sets us apart</a>
                                </h3>
                                <h3> <a href="#">Shareholder information</a></h3>
                                <h3><a href="#">Governance</a></h3>
                                <h3><a href="#">Financial information</a></h3>
                                <h3><a href="#">RNS</a></h3>
                                <h3> <a href="#">Equity research</a></h3>
                                <h3> <a href="#">Share Data</a></h3>
                                <h3> <a href="#">Reports and presentations</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" routerLink="/products" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Products
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row ">
                                        <div class="col-md-6 d-flex">
                                            <div class="image-container">
                                                <img src="https://trfastenings.blob.core.windows.net/menu/3e246016ad7f4ec190c3eecc07e2ed18.jpg"
                                                    class="img-thumbnail " alt="...">
                                                <p>Screw & Bolts</p>
                                            </div>
                                            <div class="image-container">
                                                <img src="https://trfastenings.blob.core.windows.net/menu/3644db77562842bfa1a5b8230b62512a.jpg"
                                                    class="img-thumbnail " alt="...">
                                                <p>Nuts</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex">
                                            <div class="image-container">
                                                <img src="https://trfastenings.blob.core.windows.net/menu/b1524fa1188e4b6ebea1360bdf36f928.jpg"
                                                    class="img-thumbnail " alt="...">
                                                <p>Washers</p>
                                            </div>
                                            <div class="image-container">
                                                <img src="https://trfastenings.blob.core.windows.net/menu/a6398c530f1243d4886d07258199acbb.jpg"
                                                    class="img-thumbnail " alt="...">
                                                <p>Fastners</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex">
                                            <div class="image-container">
                                                <img src="https://trfastenings.blob.core.windows.net/menu/90ff2b0c93bf407c8327ba47626e0c75.jpg"
                                                    class="img-thumbnail " alt="...">
                                                <p>Enclosers</p>
                                            </div>
                                            <div class="image-container">
                                                <img src="https://trfastenings.blob.core.windows.net/menu/87fdbdb3cb8944c98d89c37e24c77afc.jpg"
                                                    class="img-thumbnail " alt="...">
                                                <p>Cables Glands</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex">
                                            <div class="image-container">
                                                <img src="https://trfastenings.blob.core.windows.net/menu/977cce438bc548e6a6f3de9443e4844b.jpg"
                                                    class="img-thumbnail " alt="...">
                                                <p>Tools</p>
                                            </div>
                                            <div class="image-container">
                                                <img src="https://trfastenings.blob.core.windows.net/menu/b2fdcf05fb244729813093f9734bce43.jpg"
                                                    class="img-thumbnail " alt="...">
                                                <p>Other Hardware.</p>
                                            </div>
                                        </div>
                                        


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" routerLink="/knowledge-base" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Knowledge Base
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <h3> <a href="#">Engineering Data</a>
                                </h3>
                                <h3> <a href="#">Tolerances</a></h3>
                                <h3><a href="#">Materials</a></h3>
                                <h3><a href="#">Coatings</a></h3>
                                <h3><a href="#">Thread geometrics</a></h3>
                                <h3> <a href="#">Metric Screws</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" routerLink="/service" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                Services
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <h3> <a href="#">Manufacturing</a>
                                </h3>
                                <h3> <a href="#">Logistics</a></h3>
                                <h3><a href="#">Sourcing</a></h3>
                                <h3><a href="#">Technical support services</a></h3>
                                <h3><a href="#">Quality</a></h3>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" routerLink="/industries" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                Industries
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <h3> <a href="#">Light Vehicle</a>
                                </h3>
                                <h3> <a href="#">Heavy Vehicle</a></h3>
                                <h3><a href="#">Health & home</a></h3>
                                <h3><a href="#">Acquisition</a></h3>
                                <h3><a href="#">Energy, tech & infrastructure</a></h3>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" routerLink="/sustainability"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                aria-controls="flush-collapseSeven">
                                Sustainability
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <h3> <a href="#">Sustainability governance</a>
                                </h3>
                                <h3> <a href="#">Create socio-economic value</a></h3>
                                <h3><a href="#">Environment and climate change
                                    </a></h3>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" routerLink="/contact" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false"
                                aria-controls="flush-collapseEight">
                                Contact
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <h3> <a routerLink="/contact">Contact</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- main menu start -->
            <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto me-5" id="main-menus">

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-dark" routerLink="/company" id="navbarDropdown"
                        role="button" aria-expanded="false">
                        Company
                    </a>
                    <ul class="dropdown-menu  shadow p-3 mb-5 bg-body-white rounded" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row  ">
                                <div class="col-md-3  ">
                                    <h4> <a href="#">Newsroom & media</a></h4>
                                    <hr class="main-line">
                                    <h5><a href="#"> Press releases</a></h5>
                                    <h5><a href="#">Product news</a></h5>
                                    <h5><a href="#">Media library</a></h5>
                                    <h5><a href="#">Investor news</a></h5>
                                    <h5><a href="#">Company literature</a></h5>
                                    <h4 class="mt-5"> <a href="#">KIP's</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">

                                    <h4> <a href="#"> Leadership</a></h4>
                                    <hr class="main-line">
                                    <h5><a href="#"> The plc Board</a></h5>
                                    <h5><a href="#"> Executive Committee</a></h5>
                                    <h5><a href="#">
                                            Operational Management</a></h5>

                                    <h4 class="mt-5"> <a href="#">Business model</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Documentation and policies

                                        </a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Acquisitions</a></h4>
                                    <hr class="main-line">
                                </div>

                            </div>
                        </div>
                    </ul>

                </li>
                <li class="nav-item dropdown  ">
                    <a class="nav-link dropdown-toggle text-dark" routerLink="/investor" id="navbarDropdown"
                        role="button" aria-expanded="false">
                        Investors
                    </a>
                    <ul class="dropdown-menu one shadow p-3 mb-5 bg-body-white" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row  ">
                                <div class="col-md-3  ">
                                    <h4> <a href="#">What sets us apart</a></h4>
                                    <hr class="main-line">

                                    <h4 class="mt-5"> <a href="#">RNS</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">

                                    <h4> <a href="#"> Shareholder information</a></h4>
                                    <hr class="main-line">
                                    <h5><a href="#">Frequently asked questions</a></h5>
                                    <h5><a href="#">Advisers</a></h5>
                                    <h5><a href="#">
                                            Glossary of terms</a></h5>
                                    <h5><a href="#">Shareholder meetings</a></h5>
                                    <h5><a href="#">Total shareholder return</a></h5>
                                    <h4 class="mt-5"> <a href="#">Equity research</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">

                                    <h4> <a href="#"> Governance</a></h4>
                                    <hr class="main-line">
                                    <h5><a href="#">Committees</a></h5>
                                    <h5><a href="#"> Compliance statement</a></h5>
                                    <h5><a href="#">
                                            Remuneration policy</a></h5>
                                    <h5><a href="#"> Our stakeholders</a></h5>
                                    <h5><a href="#">Capital allocation</a></h5>

                                    <h4 class="mt-5"> <a href="#">Share data</a></h4>
                                    <hr class="main-line">



                                </div>
                                <div class="col-md-3  ">





                                    <h4> <a href="#"> Financial information</a></h4>
                                    <hr class="main-line">
                                    <h5><a href="#"> Analysis tool - financial</a></h5>
                                    <h5><a href="#"> Financial calendar
                                        </a></h5>
                                    <h5><a href="#">
                                            Remuneration policy</a></h5>
                                    <h5><a href="#"> Latest financial results</a></h5>

                                    <h4 class="mt-5"> <a href="#">Reports and presentations</a></h4>
                                    <hr class="main-line">

                                </div>

                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown  ">
                    <a class="nav-link dropdown-toggle text-dark" routerLink="/products" id="navbarDropdown"
                        role="button" aria-expanded="false">
                        Product
                    </a>
                    <ul class="dropdown-menu two shadow p-3 mb-5 bg-body-white" aria-labelledby="navbarDropdown">
                        <div class="container-fluid ">
                            <div class="row products">
                                <div class="col-md-3  ">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3e246016ad7f4ec190c3eecc07e2ed18.jpg"
                                        class="img-fluid" alt="...">
                                    <h5><a href="#">Screw and bolts</a></h5>
                                    <hr class="main-line" />
                                </div>
                                <div class="col-md-3  ">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3644db77562842bfa1a5b8230b62512a.jpg"
                                        class="img-fluid " alt="...">
                                    <h5><a href="#">Nuts</a></h5>
                                    <hr class="main-line" />
                                </div>
                                <div class="col-md-3  ">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/b1524fa1188e4b6ebea1360bdf36f928.jpg"
                                        class="img-fluid " alt="...">
                                    <h5><a href="#">Washers</a></h5>
                                    <hr class="main-line" />
                                </div>
                                <div class="col-md-3  ">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/a6398c530f1243d4886d07258199acbb.jpg"
                                        class="img-fluid " alt="...">
                                    <h5><a href="#">Fastners</a></h5>
                                    <hr class="main-line" />
                                </div>

                            </div>
                            <div class="row products  mt-2 ">
                                <div class="col-md-3  ">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/90ff2b0c93bf407c8327ba47626e0c75.jpg"
                                        class="img-fluid" alt="...">

                                    <h5><a href="#">Plastic Fastners</a></h5>
                                    <hr class="main-line" />
                                </div>
                                <div class="col-md-3  ">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/87fdbdb3cb8944c98d89c37e24c77afc.jpg"
                                        class="img-fluid" alt="...">

                                    <h5><a href="#">Enclosers</a></h5>
                                    <hr class="main-line" />
                                </div>
                                <div class="col-md-3  ">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/977cce438bc548e6a6f3de9443e4844b.jpg"
                                        class="img-fluid" alt="...">
                                    <h5><a href="#">Cable Glands</a></h5>
                                    <hr class="main-line" />

                                </div>
                                <div class="col-md-3  ">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/b2fdcf05fb244729813093f9734bce43.jpg"
                                        class="img-fluid" alt="...">
                                    <h5><a href="#">Other Hardware</a></h5>
                                    <hr class="main-line" />
                                </div>

                            </div>
                        </div>
                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" routerLink="/knowledge-base" id="navbarDropdown"
                        role="button" aria-expanded="false">
                        Knowledge
                    </a>
                    <ul class="dropdown-menu five shadow p-3 mb-5 bg-body-white" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4><a href="#">Engineering Data</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#"> Gauge conversion tables</a></h5>
                                    <h5><a href="#">Fastener standards</a></h5>
                                    <h5><a href="#">Decimal equivalents</a></h5>
                                    <h5>
                                        <a href="#"><b class="bolder-text">View all articles</b></a>
                                    </h5>

                                    <h4><a href="#">Thread geometries</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#"> Metric Coarse Standard</a></h5>
                                    <h5><a href="#">Metric Fine</a></h5>
                                    <h5><a href="#">Thread conversion table</a></h5>
                                    <h5>
                                        <a href="#"><b class="bolder-text">View all articles</b></a>
                                    </h5>

                                    <h4><a href="#">Fasteners for Plastic</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">Plas-Tech® 30 installation</a></h5>
                                    <h5><a href="#">Screws for Plastic to JIS</a></h5>
                                    <h5><a href="#">Design guide considerations</a></h5>
                                    <h5>
                                        <a href="#"><b class="bolder-text">View all articles</b></a>
                                    </h5>
                                </div>

                                <div class="col-md-3">
                                    <h4><a href="#">Tolerances</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">Friction coefficients s/steel</a></h5>
                                    <h5><a href="#">Friction coefficients steel</a></h5>

                                    <h4><a href="#">Metric screws</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">S/steel tightening torques</a></h5>
                                    <h5><a href="#">Socket screw tightening torque</a></h5>
                                    <h5><a href="#">Mechanical properties</a></h5>
                                    <h5>
                                        <a href="#"><b class="bolder-text">View all articles</b></a>
                                    </h5>

                                    <h4><a href="#">Metric Nuts and Washers</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">Flat Washer standards</a></h5>
                                    <h5><a href="#">Wedge Lock Nuts</a></h5>
                                </div>

                                <div class="col-md-3">
                                    <h4><a href="#">Materials</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">Properties of plastics</a></h5>
                                    <h5><a href="#">Properties of stainless steel</a></h5>
                                    <h5><a href="#">Hardness comparison tables</a></h5>

                                    <h4><a href="#">Self Tapping Screws</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">Hole sizes</a></h5>
                                    <h5><a href="#">Thread geometry</a></h5>
                                    <h5><a href="#">Torque data</a></h5>

                                    <h4><a href="#">Self Clinch Fasteners</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">Nut installation and tooling</a></h5>
                                    <h5><a href="#">Stud installation and tooling</a></h5>
                                    <h5><a href="#">Broaching nut installation</a></h5>
                                    <h5>
                                        <a href="#"><b class="bolder-text">View all articles</b></a>
                                    </h5>
                                </div>

                                <div class="col-md-3">
                                    <h4><a href="#">Coatings</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">Zinc flake</a></h5>
                                    <h5><a href="#">Zinc nickel</a></h5>
                                    <h5><a href="#">Electroplated Zinc</a></h5>
                                    <h5>
                                        <a href="#"><b class="bolder-text">View all articles</b></a>
                                    </h5>

                                    <h4><a href="#">Threadforming Screws for Metal</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">DIN7500 Tap-Fix® extruded</a></h5>
                                    <h5><a href="#">DIN7500 Tap-Fix® hole sizes</a></h5>
                                    <h5><a href="#">DIN7500 Tap-Fix® torsional</a></h5>
                                    <h5>
                                        <a href="#"><b class="bolder-text">View all articles</b></a>
                                    </h5>

                                    <h4><a href="#">Rivet Bushes</a></h4>
                                    <hr class="main-line" />
                                    <h5><a href="#">Round Serrated Face</a></h5>
                                    <h5><a href="#">Round Serrated Spigot</a></h5>
                                    <h5><a href="#">Hex Rivet Bush installation</a></h5>
                                    <h5>
                                        <a href="#"><b class="bolder-text">View all articles</b></a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown  ">
                    <a class="nav-link dropdown-toggle text-dark" routerLink="/service" id="navbarDropdown"
                        role="button" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu four shadow p-3 mb-5 bg-body-white" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row  ">
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Manufacturing</a></h4>
                                    <hr class="main-line">
                                    <h5><a href="#">TR Formac</a></h5>
                                    <h5><a href="#">TR SFE</a></h5>
                                    <h5><a href="#"> TR PSEP</a></h5>
                                    <h5><a href="#">TR VIC</a></h5>
                                    <h5><a href="#"> Licences</a></h5>
                                    <h4 class="mt-5"> <a href="#">Quality</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Logistics</a></h4>
                                    <hr>
                                    <h5><a href="#"> Supply chain optimisation</a></h5>
                                    <h5><a href="#"> Supply chain solutions</a></h5>
                                    <h4 class="mt-5"> <a href="#">Trade bodies and associations</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">


                                    <h4> <a href="#"> Sourcing</a></h4>
                                    <hr class="main-line">
                                    <h5><a href="#">Product line card</a></h5>
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#">Technical support services</a></h4>
                                    <hr class="main-line">
                                </div>

                            </div>
                        </div>
                    </ul>

                </li>
                <li class="nav-item dropdown  ">
                    <a class="nav-link dropdown-toggle text-dark" routerLink="/industries" id="navbarDropdown"
                        role="button" aria-expanded="false">
                        Indutries
                    </a>
                    <ul class="dropdown-menu three shadow p-3 mb-5 bg-body-white" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row  ">
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Light vehicle</a></h4>
                                    <hr class="main-line">
                                    <h4 class="mt-5"> <a href="#">Heavy vehicle</a></h4>
                                    <hr>
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Health & home</a></h4>
                                    <hr class="main-line">
                                    <h4 class="mt-5"> <a href="#"> Energy, tech & infrastructure</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#">General industrial</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#">Distributors</a></h4>
                                    <hr class="main-line">
                                </div>

                            </div>
                        </div>
                    </ul>

                </li>


                <li class="nav-item dropdown  ">
                    <a class="nav-link dropdown-toggle text-dark" routerLink="/sustainability" id="navbarDropdown"
                        role="button" aria-expanded="false">
                        Sustainability
                    </a>
                    <ul class="dropdown-menu six shadow p-3 mb-5 bg-body-white" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row  ">
                                <div class="col-md-3  ">
                                    <h4> <a href="#">Sustainability governance</a></h4>
                                    <hr class="main-line">
                                    <h4 class="mt-5"> <a href="#">Create socio-economic value</a></h4>
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Environment and climate</a></h4>
                                    <hr class="main-line">
                                    <h4 class="mt-5"> <a href="#"> Sustainable supply chain</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Sustainable innovation</a></h4>
                                    <hr class="main-line">
                                </div>
                                <div class="col-md-3  ">
                                    <h4> <a href="#"> Analysis tool - sustainability</a></h4>
                                    <hr class="main-line">
                                </div>

                            </div>
                        </div>
                    </ul>

                </li>
                <li class="nav-item dropdown " id="contact">
                    <a class="nav-link dropdown-toggle text-dark" routerLink="/contact" id="navbarDropdown"
                        role="button" aria-expanded="false">
                        Contact
                    </a>
                    <ul class="dropdown-menu seven shadow p-3 mb-5 bg-body-white" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row  ">
                                <div class="col-md-3  ">

                                    <h4 class="mt-5"> <a routerLink="/contact">Contact</a></h4>
                                    <hr class="main-line">
                                </div>


                            </div>
                        </div>
                    </ul>

                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">search</a>
                </li> -->


            </ul>



            <div class="menus  me-5">
                <div class="bookmark ">
                    <p>Bookmark</p>
                </div>
                <div class="img mx-3 ">
                    <img src="https://trfastenings.blob.core.windows.net/sitecontent/2604c4e121f5483eb5ed983dcee78b0e.svg"
                        class="img-thumbnail" alt="...">
                </div>
                <div class="label d-flex mx-2 mt-4">
                    <p class="mt-1 with-line">
                        LON: 70.80 GBX &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <h5 class="mx-4">CAREERS</h5>
                    <div class="icon">
                        <span><i class="fa-solid fa-clipboard fa-xl mt-4" style="color: blue;"></i></span>


                    </div>
                    <div class="user">
                        <span><i class="fa-regular fa-user fa-xl mx-5 mt-4" style="color: blue;"
                                routerLink="/register"></i></span>
                        <hr class="ruler mt-2">
                    </div>
                </div>


            </div>
        </div>

    </div>

</nav>