<nav class="navbar navbar-expand-xxl  shadow-lg p-3 mb-5 bg-body-white rounded">
    <div class="container-fluid">
        <img routerLink="/" src="https://trfastenings.blob.core.windows.net/sitecontent/358606d6843655b2345bcd7a37f3944b.png"
            class="img-thumbnail" alt="...">
        <button class="navbar-toggler hamburger__button" (click)="btn()" [class.toggled]="isToggled" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" >
            <span  class="navbar-toggler-icon hamburger__icon"></span>
            <!-- <span class="cross" >&times;</span> -->
        </button>


        <div class="collapse-expand-xl navbar-collapse" id="navbarSupportedContent">
            <div class="accordians">
                <div class="accordion mt-5" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                company
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                        <!-- <hr> -->
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Invester
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Product
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" routerLink="/company" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Company
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row  mt-4">
                                <div class="col-md-3  ">
                                    <li><a class="dropdown-item text-primary fw-medium" href="#">Newsroom &
                                            Media</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Press News</a></li>
                                    <li><a class="dropdown-item" href="#">Product News</a></li>
                                    <li><a class="dropdown-item" href="#">Media Library</a></li>
                                    <li><a class="dropdown-item" href="#">Invester News</a></li>
                                    <li><a class="dropdown-item" href="#">Company Literature</a></li>

                                    <li><a class="dropdown-item mt-5 mb-5 text-primary fw-medium" href="#">KPI's</a>
                                    </li>
                                    <hr>
                                </div>
                                <div class="col-md-3 ">
                                    <li><a class="dropdown-item text-primary fw-medium" href="#">Leadership</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">The plc board</a></li>
                                    <li><a class="dropdown-item" href="#">Exicutive Committee</a></li>
                                    <li><a class="dropdown-item" href="#">Operational Management</a></li>

                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Business Model</a>
                                    </li>
                                    <hr>
                                </div>
                                <div class="col-md-3 ">
                                    <li><a class="dropdown-item text-primary fw-medium" href="#">Documentaion and
                                            Policies</a></li>
                                    <hr>

                                </div>
                                <div class="col-md-3 ">
                                    <li><a class="dropdown-item text-primary fw-medium" href="#">Acquasitions</a></li>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </ul>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/investor" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Investers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col-md-3">
                                    <li><a class="dropdown-item text-primary fw-medium" href="#">What Sets
                                            Us Apart</a></li>
                                    <hr>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">RNS</a></li>
                                    <hr>
                                </div>
                                <div class="col-md-3">
                                    <li><a class="dropdown-item text-primary fw-medium" href="#">Share
                                            Holder Information</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Invester Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Frequently Asked Questions</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Adviser</a></li>
                                    <li><a class="dropdown-item" href="#">Guidance to shareholder</a></li>
                                    <li><a class="dropdown-item" href="#">Glossary of terms</a></li>
                                    <li><a class="dropdown-item" href="#">Shareholders mettings</a></li>
                                    <li><a class="dropdown-item" href="#">Total Shareholder returns</a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Equity
                                            Research</a></li>
                                    <hr>
                                </div>
                                <div class="col-md-3">
                                    <li><a class="dropdown-item text-primary fw-medium" href="#">Goverance</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Committee</a></li>
                                    <li><a class="dropdown-item" href="#">Compilance statement</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Renumatation policies</a></li>
                                    <li><a class="dropdown-item" href="#">Our stakeholders</a></li>
                                    <li><a class="dropdown-item" href="#">Capital Allocations</a></li>
                                    <li><a class="dropdown-item" href="#">Section 172 Statements</a></li>
                                    <li><a class="dropdown-item mt-5  text-primary fw-medium" href="#">Share
                                            Data</a></li>
                                    <hr>
                                </div>
                                <div class="col-md-3">
                                    <li><a class="dropdown-item text-primary fw-medium" href="#">Financial
                                            Informmation</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Analyasisi Tools-Financial</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Financial Calender</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Letest Financial Results</a></li>

                                    <li><a class="dropdown-item mt-5" href="#">Reports and Presentations</a>
                                    </li>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/products" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>


                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>


                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                                <div class="col-md-2">
                                    <img src="https://trfastenings.blob.core.windows.net/menu/3c4252564cd04dd291300e0b4c104b76.jpg"
                                        class="img-thumbnail" alt="...">
                                    <li><a class="dropdown-item text-primary fw-medium " href="#">Screw and
                                            Bolts</a></li>

                                </div>
                            </div>
                        </div>
                    </ul>
                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" routerLink="/knowledge-base" id="navbarDropdown" role="button"

                    <a class="nav-link dropdown-toggle" routerLink="/knowledge-based" id="navbarDropdown" role="button"

                        data-bs-toggle="dropdown" aria-expanded="false">
                        Knowledge Based
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container-fluid">
                            <div class="row mt-4">
                                <div class="col-md-3">
                                    <li><a class="dropdown-item text-primary" href="#">Engineearing Data</a>
                                    </li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Gauge Conversion Tables</a></li>
                                    <li><a class="dropdown-item" href="#">Fastners standers</a></li>
                                    <li><a class="dropdown-item" href="#">Decimal Equivalents</a></li>

                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Thread
                                            geomatries</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Metric Caorse Standers</a></li>
                                    <li><a class="dropdown-item" href="#">Metric Fine</a></li>
                                    <li><a class="dropdown-item" href="#">Thread conversion table </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Fastners for
                                            Plastic </a></li>
                                    <hr>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Plast-Tech@ 30
                                            installation </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Screws
                                            for plastic to JIS </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Design
                                            guide </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Fastners for
                                            Plastic </a></li>
                                </div>
                                <div class="col-md-3">
                                    <li><a class="dropdown-item text-primary" href="#">Tolerances</a>
                                    </li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Friction coefficients steel</a></li>
                                    <li><a class="dropdown-item" href="#">Fastners standers</a></li>
                                    <li><a class="dropdown-item" href="#">Decimal Equivalents</a></li>

                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Thread
                                            geomatries</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Metric Caorse Standers</a></li>
                                    <li><a class="dropdown-item" href="#">Metric Fine</a></li>
                                    <li><a class="dropdown-item" href="#">Thread conversion table </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Fastners for
                                            Plastic </a></li>
                                    <hr>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Plast-Tech@ 30
                                            installation </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Screws
                                            for plastic to JIS </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Design
                                            guide </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Fastners for
                                            Plastic </a></li>
                                </div>
                                <div class="col-md-3">
                                    <li><a class="dropdown-item text-primary" href="#">Engineearing Data</a>
                                    </li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Gauge Conversion Tables</a></li>
                                    <li><a class="dropdown-item" href="#">Fastners standers</a></li>
                                    <li><a class="dropdown-item" href="#">Decimal Equivalents</a></li>

                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Thread
                                            geomatries</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Metric Caorse Standers</a></li>
                                    <li><a class="dropdown-item" href="#">Metric Fine</a></li>
                                    <li><a class="dropdown-item" href="#">Thread conversion table </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Fastners for
                                            Plastic </a></li>
                                    <hr>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Plast-Tech@ 30
                                            installation </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Screws
                                            for plastic to JIS </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Design
                                            guide </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Fastners for
                                            Plastic </a></li>
                                </div>
                                <div class="col-md-3">
                                    <li><a class="dropdown-item text-primary" href="#">Engineearing Data</a>
                                    </li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Gauge Conversion Tables</a></li>
                                    <li><a class="dropdown-item" href="#">Fastners standers</a></li>
                                    <li><a class="dropdown-item" href="#">Decimal Equivalents</a></li>

                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Thread
                                            geomatries</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Metric Caorse Standers</a></li>
                                    <li><a class="dropdown-item" href="#">Metric Fine</a></li>
                                    <li><a class="dropdown-item" href="#">Thread conversion table </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Fastners for
                                            Plastic </a></li>
                                    <hr>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Plast-Tech@ 30
                                            installation </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Screws
                                            for plastic to JIS </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Design
                                            guide </a></li>
                                    <li><a class="dropdown-item mt-5 text-primary fw-medium" href="#">Fastners for
                                            Plastic </a></li>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/service" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-primary" href="#">Engineearing Data</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/industries" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Industries
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  routerLink="/sustainability" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Sustainability
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/contact" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                      Contact
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                </li>
            </ul>


            <form class="d-flex mb-5  " role="search">
                <div class="idea d-flex">
                    <div class="bookmark me-3 "> <a href="#">Bookmark this</a></div>
                    <div class="image mx-2">
                        <img src="https://trfastenings.blob.core.windows.net/sitecontent/2604c4e121f5483eb5ed983dcee78b0e.svg"
                            class="img-thumbnail" alt="...">
                    </div>

                    <div class="text">
                        <h4> LON: 71.00 GBX</h4>
                        <h3></h3>
                        <h5 class="mx-5">CAREERS
                            <!-- <hr class="line"> -->
                        </h5>

                    </div>
                    <div class="icons d-flex mx-4">
                        <span><i class="fa-solid fa-clipboard fa-xl" style="color: #0d2959;"></i></span>
                        <span><i routerLink="register" class="fa-solid fa-user fa-xl mx-5" style="color: #062356;"></i></span>
                    </div>
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button> -->
                </div>
                <hr class="line">
            </form>

        </div>
    </div>
</nav>