<div class="main">
    <div class="main-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/ca5958a212444e69873346df7cb98427.png" alt=""></div>
    <div class="triangles">
        <div class="triangle-texts">
            <h4>ENVIRONMENTAL, SOCIAL & GOVERNANCE</h4>
            <h1>Sustainability</h1>
            <p>Innovation today for a better tomorrow Growing sustainably, together.</p>
        </div>
    </div>
</div>
<!-- ----------------text-------------- -->
<div class="text">
    <div class="inside-text">
    <h3>Our sustainability strategy sets out the blueprint for an exciting future</h3>
    </div>
</div>
<!-- --------container------------- -->
<div class="containers">
    <div class="left">
        <div class="left-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/fe5b050ab0b343ae8c53f7c21d17270a.jpg" alt=""></div>
        <div class="left-text">
            <h3>GOVERNANCE</h3>
            <h1>Sustainability governance</h1>
            <p>Our robust ESG governance framework of committees and global networks ensuring a collaborative and proactive approach to embedding our sustainability strategy across the Group.</p>
            <button>Read more</button>
        </div>
        <div class="arrow"><mat-icon style="color: rgb(26,122,191);"> call_made</mat-icon></div>
    </div>
    <div class="right">
        <div class="right-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/b64662279b4d4851b1776fd45b0ee889.jpg" alt=""></div>
        <div class="right-text">
            <h3>INTERACTIVE TOOL</h3>
            <h1>Interactive analysis tool – sustainability</h1>
            <p>Explore using our interactive analysis tool.</p>
            <button>View tool</button>
        </div>
        <div class="arrow"><mat-icon style="color: #009640;"> call_made</mat-icon></div>
    </div>
</div>

<div class="cards">
    <div class="boxes" style="background-color: #002d74;">
        <div class="boxes-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/ea7ec85c35e347f0b2ed578c221f6ec3.jpg" alt=""></div>
        <h3>PEOPLE</h3>
        <h1>Create socio-economic value</h1>
        <p>Trifast is proud to be a people-centred business and focused on being a responsible and responsive employer. We promote an environment that is safe and fair, which motivates, develops, and maximises the contribution and potential of all employees globally.</p>
        <button style="background-color: #002d74;">Read more</button>
        <div class="arrow"><mat-icon style="color: #002d74;"> call_made</mat-icon></div>
    </div>
    <div class="boxes" style="background-color: #f39008;">
        <div class="boxes-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/ecc0c6cceb3a4c81bd2b6511d40ad726.jpg" alt=""></div>
        <h3>ENVIRONMENT</h3>
        <h1>Act on environment and climate change</h1>
        <p>Our sustainability strategy delivers a step change in environmental management at Trifast. Building on our track record of robust compliance, emissions reductions and solar energy, we are plotting our path to net zero carbon and managing the emerging climate risks and clean tech opportunities.</p>
        <button style="background-color: #f39008;">Read more</button>
        <div class="arrow"><mat-icon style="color: #f39008"> call_made</mat-icon></div>
    </div>
    <div class="boxes" style="background-color: #642682;">
        <div class="boxes-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/70a522c729824e89b5ef65f7e1931597.jpg" alt=""></div>
        <h3>SUPPLY</h3>
        <h1>Build a sustainable supply chain</h1>
        <p>To create a sustainable supply chain, we need a shared commitment with both suppliers and customers in adhering to good environmental, social and governance practices.</p>
        <button style="background-color: #642682;">Read more</button>
        <div class="arrow"><mat-icon style="color: #642682"> call_made</mat-icon></div>
    </div>
    <div class="boxes4" style="background-color: #1a7abf;">
        <div class="boxes4-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/ae7625eb5b0f448486354df5b8272982.jpg" alt=""></div>
        <h3>PRODUCT</h3>
        <h1>Enable sustainable innovation</h1>
        <p>To deliver a sustainable future we need to move from a linear make-take-waste consumption model to a right to repair approach where products are reused and recycled.</p>
        <button style="background-color: #1a7abf;">Read more</button>
        <div class="arrow"><mat-icon style="color: #1a7abf"> call_made</mat-icon></div>
    </div>
</div>



<!-- -----------Flex-------------- -->
<div class="containers1">
    <div class="second">
        <div class="left2"><img src="https://trfastenings.blob.core.windows.net/sitecontent/3518d0d13c9649c19373caf41dc621fa.jpg" alt=""></div>
        <div class="right2">
            <h3>SECURING A SUSTAINABLE FUTURE</h3>
            <h2>The sustainability strategy landscape</h2>
            <p>Trifast is committed to securing a sustainable future. Our sustainability strategy is helping us to play our part in shaping a sustainable economy.</p>
            <button>Read more in our Sustainability Report</button>
        </div>
    </div>
</div>

<!-- ------------Inverstor  tools------------------ -->
<div class="links">
    <div class="links-name">
        <h3>Quick links</h3>
    </div>
    <div class="links-cards">
        <div class="box2" style="background-color: #00a9b3;">
            <h6>ABOUT US</h6><br>
            <h3>Company information</h3>
            <div class="arrow"><mat-icon style="color: #00a9b3;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #f39008;">
            <h6>DESIGN, PRODUCE, DELIVER</h6><br>
            <h3>Business model</h3>
            <div class="arrow"><mat-icon style="color: #f39008;"> call_made</mat-icon></div>
        </div>
        <div class="box3" style="background-color: #38a2dc;">
            <h6>OUR MARKETS</h6><br>
            <h3>Industries</h3>
            <div class="arrow"><mat-icon style="color: #38a2dc;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #1a7abf;">
            <h6>DOWNLOADS</h6><br>
            <h3>Documentation & policies</h3>
            <div class="arrow"><mat-icon style="color: #1a7abf;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #642682;">
            <h6>GROWTH FOR THE FUTURE</h6><br>
            <h3>Investors</h3>
            <div class="arrow"><mat-icon style="color: #642682;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #009640;">
            <h6>GET IN TOUCH</h6><br>
            <h3>Contact us</h3>
            <div class="arrow"><mat-icon style="color: #009640;"> call_made</mat-icon></div>
        </div>
        <div class="box6" style="background-color: #878787;">
            <h6>SECURING A SUSTAINABLE FUTURE</h6><br>
            <h3>Sustainability report</h3>
            <div class="arrow"><mat-icon style="color: #878787;"> call_made</mat-icon></div>
        </div>
    </div>
</div>
