<div class="main">
    <div class="corousel-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/b348f7f1dfda4f8c953e7b5f3eda26e3.jpg" alt=""></div>
    <div class="triangle">
        <div class="triangle-text">
            <img src="https://trfastenings.blob.core.windows.net/sitecontent/ecd48724bbaa485fbdd4d46191700ca7.png" alt="">
            <h3>Inverstors</h3>
        </div>
    </div>
</div>
<!-- ----------text------------- -->
<div class="text">
    <div class="inside-text">
    <h3>Welcome to our investor section where you will find information and digital tools including share and dividend information, share price analysis, latest news and corporate reporting.</h3>
    </div>
</div>
<!-- -------company--------- -->
<div class="company">
    <h2>Our Company</h2>
    <p><strong>Our purpose</strong>
        is to provide Trusted Reliability at every turn to our customers, suppliers and our people, empowering them to deliver sustainable products and solutions that add value to society and our planet.
    </p>
    <p><strong>Our vision</strong> is to support a sustainable economy using our technical expertise to empower customers, suppliers and our people to innovate solutions that will improve the environment and people’s lives.</p>
    <p><strong>Our strategy.</strong> TR operates in a fragmented market. Our established customer relationships and access to high growth/emerging markets support strong organic and acquisitive growth for the future.</p>
    <p><strong>Our mission</strong> is to promote an environment that is safe and fair, which motivates, develops and maximises the contribution and potential of all employees.</p>
    <p>To be acknowledged commercially as the market leader in industrial fastenings in terms of service, quality, design, engineering, support, ESG (environmental, social and governance), together with brand reputation.</p>
    <p>To continue to grow profitability, improve stakeholder returns through organic and acquisitive growth, and by driving continual efficiencies throughout the organisation.</p>
    <button>Find out more</button>
</div>

<!-- ------------Cards------------------ -->

<div class="link">
    <div class="links-card">
        <div class="box" style="background-color: #1a7abf;">
            <h6>OPPORTUNITY</h6><br>
            <h3>What sets us apart</h3>
            <button style="background-color: #1a7abf;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #1a7abf;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #642682;">
            <h6>INVESTOR PORTAL</h6><br>
            <h3>Shareholder information</h3>
            <button style="background-color: #642682;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #642682;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #009640;">
            <h6>ACCOUNTABILITY</h6><br>
            <h3>Governance</h3>
            <button style="background-color: #009640;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #009640;"> call_made</mat-icon></div>
        </div>
        <div class="box4" style="background-color: #878787;">
            <h6>DELIVERING RETURNS</h6><br>
            <h3>Financial information</h3>
            <button style="background-color: #878787;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #878787;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #38a2dc;">
            <h6>LATEST NEWS</h6><br>
            <h3>Regulatory news service (RNS)</h3>
            <button style="background-color: #38a2dc;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #38a2dc;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #f39008;">
            <h6>RESEARCH AND ANALYSIS</h6><br>
            <h3>Equity research</h3>
            <button style="background-color: #f39008;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #f39008;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #00a9b3;">
            <h6>ANALYSIS</h6><br>
            <h3>Share data</h3>
            <button style="background-color: #00a9b3;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #00a9b3;"> call_made</mat-icon></div>
        </div>
        <div class="box6" style="background-color: #002d74;">
            <h6>DOWNLOADS</h6><br>
            <h3>Reports and presentations</h3>
            <button style="background-color: #002d74;">Find out more</button>
            <div class="arrow"><mat-icon style="color: #002d74;"> call_made</mat-icon></div>
        </div>
    </div>
</div>

<!-- -----------Flex-------------- -->
<div class="containers">
    <div class="first">
        <div class="left">
            <h3>MARKET INFORMATION</h3>
            <h2>London Stock Exchange</h2>
            <p>Read about Trifast on the LSE website including the company profile, FTSE index and TRI page</p>
            <div class="logos"><img src="https://trfastenings.blob.core.windows.net/sitecontent/337862685d194f2bbd80a3773ea2d9fd.png" alt=""></div>
            <button>Visit London Stock Exchange website</button>
        </div>
        <div class="right"><img src="https://trfastenings.blob.core.windows.net/sitecontent/cfd70f24225d446fb69027b3c5a80d9f.png" alt=""></div>
    </div>
    <div class="second">
        <div class="left2"><img src="https://trfastenings.blob.core.windows.net/sitecontent/9e4eb756fa834abab8102b036753182e.png" alt=""></div>
        <div class="right2">
            <h3>GET INVOLVED</h3>
            <h2>Investor Meet Company</h2>
            <p>Investor Meet Company is a free and independent service which allows you to feel more involved in the businesses you invest in. You can use the IMC platform to interact with Company management through live webinars, Q&A sessions or view on demand webinars/presentations. If you would like to register and take part in future presentations, please follow the link below to find out more.</p>
            <button>Find out more</button>
        </div>
    </div>
</div>
<!-- ------------Inverstor  tools------------------ -->
<div class="links">
    <div class="links-name">
        <h3>Investor tools</h3>
    </div>
    <div class="links-cards">
        <div class="box2" style="background-color: #00a9b3;">
            <h6>KEY ANNOUNCEMENTS</h6><br>
            <h3>Financial calendar</h3>
            <div class="arrow"><mat-icon style="color: #00a9b3;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #f39008;">
            <h6>LATEST NEWS</h6><br>
            <h3>Regulatory news service (RNS)</h3>
            <div class="arrow"><mat-icon style="color: #f39008;"> call_made</mat-icon></div>
        </div>
        <div class="box3" style="background-color: #38a2dc;">
            <h6>INTERACTIVE SHARE INFORMATION</h6><br>
            <h3>Share data</h3>
            <div class="arrow"><mat-icon style="color: #38a2dc;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #1a7abf;">
            <h6>DOWNLOADS</h6><br>
            <h3>Our reports & presentations</h3>
            <div class="arrow"><mat-icon style="color: #1a7abf;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #642682;">
            <h6>TSR</h6><br>
            <h3>Total shareholder return</h3>
            <div class="arrow"><mat-icon style="color: #642682;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #009640;">
            <h6>INTERACTIVE SUSTAINABILITY</h6><br>
            <h3>Interactive analysis tool</h3>
            <div class="arrow"><mat-icon style="color: #009640;"> call_made</mat-icon></div>
        </div>
        <div class="box6" style="background-color: #878787;">
            <h6>RESEARCH AND ANALYSIS</h6><br>
            <h3>Equity research</h3>
            <div class="arrow"><mat-icon style="color: #878787;"> call_made</mat-icon></div>
        </div>
    </div>
</div>