<div class="main">
    <div class="main-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/041f6a524b924a70bcd61911dc0ed047.jpg" alt=""></div>
    <div class="triangles">
        <div class="triangle-texts">
            <h4>ABOUT US</h4>
            <h1>Our Company</h1>
            <p>To enable innovation today for a better <br>
            tomorrow</p>
        </div>
    </div>
</div>
<!-- ----------text------------- -->
<div class="text">
    <div class="inside-text">
    <h3>TR Fastenings (TR) is part of <strong>Trifast plc</strong> and is an international
    specialist in the design, engineering, manufacture and 
    distribution of industrial fastenings and Category 'C' components 
    principally to major global assembly industries</h3>
    </div>
</div>
<!-- -------------cards------------ -->
<div class="cards">
    <div class="left">
        <div class="box" style="background-color: #1a7abf;">
            <h6>PURPOSE STATEMENT</h6>
            <h3>Our purpose</h3>
            <p>To provide Trusted Reliability at every turn to our customers, suppliers and our people, empowering them to deliver sustainable products and solutions that add value to society and our planet.</p>
            <div class="arrow"><mat-icon style="color: #1a7abf;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #f39008;">
            <h6>VISION</h6>
            <h3>Securing a sustainable future</h3>
            <p>Supporting a sustainable economy using our technical expertise to empower customers, suppliers and our people to innovate solutions that will improve the environment and people’s lives.</p>
            <div class="arrow"><mat-icon style="color: #f39008;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #642682;">
            <h6>STRATEGY</h6>
            <h3>Our strategy</h3>
            <p>TR operates in a fragmented market. Our established customer relationships and access to high growth emerging markets support strong organic and acquisitive growth for the future.</p>
            <ul>
                <li>A global leader in attractive markets</li>
                <li>Focus on growth</li>
                <li>Capital allocation framework</li>
                <li>Focus on sustainability</li>
            </ul>
            <button style="background-color: #642682;">Read more</button>
            <div class="arrow"><mat-icon style="color: #642682;"> call_made</mat-icon></div>
        </div>
        <div class="box" style="background-color: #00a9b3;">
            <h6>CODE OF CONDUCT</h6>
            <h3>Code of business conduct</h3>
            <p>At Trifast we have a continuing commitment to conduct our business operations in a fair and ethical manner and to comply with all relevant laws and regulations, within all of our operating locations around the globe.</p>
            <button style="background-color: #00a9b3;">Read more</button>
            <div class="arrow"><mat-icon style="color: #00a9b3;;"> call_made</mat-icon></div>
        </div>
    </div>
    <!-- --------- -->
    <div class="right">
        <div class="box1">
        <h6>MISSION</h6>
        <h3>Our mission</h3>
        <p>To promote an environment that is safe and fair, which motivates, develops and maximises the contribution and potential of all employees.</p>
        <p>To be acknowledged commercially as the market leader in industrial fastenings in terms of service, quality, design, engineering, support, ESG (environmental, social and governance), together with brand reputation.</p>
        <p>To continue to grow profitability, improve stakeholder returns through organic and acquisitive growth, and by driving continual efficiencies throughout the organisation.</p>
        <div class="logo-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/e6df0089963b4bcda2a6388a9fbe7bd2.png"></div>
        <div class="arrow"><mat-icon style="color: #1a7abf;"> call_made</mat-icon></div>
        </div>
    </div>
</div>

<!-- -----------------corousel----------------------- -->

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="corousel">
            <div class="corousel-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/4e547b11af8c4b4e8c865af05973aa08.png" alt=""></div>
                <div class="triangle">
                    <div class="triangle-text">
                        <h3>Who we supply</h3>
                        <p>We supply components to a mix of OEM's and Tier 1 companies globally across a wide range of industries including; light vehicle, heavy vehicle, health & home, energy, tech & infrastructure, general industrial and distributors.</p>
                        <button>Find out more</button>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="corousel">
            <div class="corousel-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/a9412ef56ce14112986cf01a8a9c39fa.png" alt=""></div>
                <div class="triangle">
                    <div class="triangle-text">
                        <h3>Our services</h3>
                        <p>We deliver comprehensive support to our customers across every requirement, from concept design through to technical engineering consultancy, manufacturing, supply management and global logistics</p>
                        <button>Find out more</button>
                </div>
            </div>
        </div>
    </div> 
    <div class="carousel-item">
        <div class="corousel">
            <div class="corousel-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/8e5698e861c94c95952f5fe9d7777a61.png" alt=""></div>
                <div class="triangle">
                    <div class="triangle-text">
                        <h3>Global footprint</h3>
                        <p>The TR Group of companies consists of 33 locations within the UK, Asia, Europe and the USA including seven high volume sites manufacturing cold forged fasteners and special parts and three technical and innovation centres.</p>
                        <button>Find out more</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 

<!-- ------------links------------------ -->

<div class="links">
    <div class="links-name">
        <h3>Quick links</h3>
    </div>
    <div class="links-cards">
        <div class="box2" style="background-color: #00a9b3;">
            <h6>MEDIA</h6><br>
            <h3>Newsroom & media</h3>
            <div class="arrow"><mat-icon style="color: #00a9b3;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #f39008;">
            <h6>GROWTH FOR THE FUTURE</h6><br>
            <h3>Investors</h3>
            <div class="arrow"><mat-icon style="color: #f39008;"> call_made</mat-icon></div>
        </div>
        <div class="box3" style="background-color: #38a2dc;">
            <h6>MEET THE TEAM</h6><br>
            <h3>Leadership</h3>
            <div class="arrow"><mat-icon style="color: #38a2dc;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #1a7abf;">
            <h6>DOWNLOADS</h6><br>
            <h3>Documentation & policies</h3>
            <div class="arrow"><mat-icon style="color: #1a7abf;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #642682;">
            <h6>'TRUSTED RELIABILITY'</h6><br>
            <h3>Strategy</h3>
            <div class="arrow"><mat-icon style="color: #642682;"> call_made</mat-icon></div>
        </div>
        <div class="box2" style="background-color: #009640;">
            <h6>DRIVEN BY PERFORMANCE</h6><br>
            <h3>KPIs</h3>
            <div class="arrow"><mat-icon style="color: #009640;"> call_made</mat-icon></div>
        </div>
        <div class="box6" style="background-color: #878787;">
            <h6>DESIGN, PRODUCE, DELIVER</h6><br>
            <h3>Business model</h3>
            <div class="arrow"><mat-icon style="color: #878787;"> call_made</mat-icon></div>
        </div>
    </div>
</div>
