<!-- //////////////////// hero section //////////////////// -->
<div class="main">
  <div class="main-img"><img src="https://trfastenings.blob.core.windows.net/sitecontent/57cf2383e3bb48fd9d6bda53e182dba7.png" alt=""></div>
  <div class="triangles">
      <div class="triangle-texts">
          <h4>FULL SERVICE PROVIDER</h4>
          <h1>Our services</h1>
          <p>
            Since it was established in 1973, TR Fastenings has evolved from a
            fastener distributor into a global assembly partner.
          </p>
      </div>
  </div>
</div>

<div class="text">
  <div class="inside-text">
  <h3> We've developed delivery operations with our vendor management solutions,
    provided design and engineering support to our customers to reduce their
    costs, and we maintain vigorous quality standards throughout our
    manufacturing footprint</h3>
  </div>
</div>

<!-- //////////////////////// second section ////////////////////////// -->
<div class="inner">
  <div class="inner-image">
    <img
      src="https://trfastenings.blob.core.windows.net/sitecontent/dc2555c46d1a4c2d963ee66bb51f7156.jpg"
      alt=""
    />
  </div>
  <div class="inner-text">
    <div>
      <h4>PRODUCE</h4>
      <h1>Manufacturing</h1>
      <h6>
        Our manufacturing network spans two continents and represents
        approximately a third of the Group’s business. We can ensure parts are
        made in the right part of the world to meet your quality, volumes, cost
        and delivery needs.
      </h6>
      <button class="transparent-btn">Read more</button>
    </div>
  </div>
</div>

<!-- ///////////////////////// third section ////////////////////////////// -->
<div class="inner">
  <div class="inner-text">
    <div>
      <h4>DELIVER</h4>
      <h1>Logistics</h1>
      <h6>
        Whether dealing with niche manufacturers or multinational household
        names, at TR we tailor our services to our customer requirements. Our
        aim is always to rationalise costs whilst providing excellence in terms
        of both product and service quality.
      </h6>
      <button class="transparent-btn">Read more</button>
    </div>
  </div>
  <div class="inner-image">
    <img
      src="https://trfastenings.blob.core.windows.net/sitecontent/a9412ef56ce14112986cf01a8a9c39fa.png"
      alt=""
    />
  </div>
</div>

<!-- ///////////////////////// fourth section ////////////////////////////// -->
<div class="inner">
  <div class="inner-image">
    <img
      src="https://trfastenings.blob.core.windows.net/sitecontent/1c059e7444104fab8ee4431f66621cbc.png"
      alt=""
    />
  </div>
  <div class="inner-text">
    <div>
      <h4>DESIGN</h4>
      <h1>Technical support services</h1>
      <h6>
        TR’s engineering and technical team use their experience and skills to
        solve fastener challenges. This is done through using engineered designs
        to deliver better performance for manufacture, assembly, application and
        recyclability.
      </h6>
      <button class="transparent-btn">Read more</button>
    </div>
  </div>
</div>

<!-- ///////////////////////// Fifth section ////////////////////////////// -->
<div class="inner">
  <div class="inner-text">
    <div>
      <h4>SOURCE</h4>
      <h1>Sourcing</h1>
      <h6>
        The very nature of our business necessitates a large and varied supply
        chain which presents both challenges and opportunities. As new accounts
        are won, we invariably add new vendors to the system.
      </h6>
      <button class="transparent-btn">Read more</button>
    </div>
  </div>
  <div class="inner-image">
    <img
      src="https://trfastenings.blob.core.windows.net/sitecontent/99512eb3705b45659550fb120b7b3609.png"
      alt=""
    />
  </div>
</div>

<!-- ///////////////////////// sixth section ////////////////////////////// -->
<div class="inner">
  <div class="inner-image">
    <img
      src="https://trfastenings.blob.core.windows.net/sitecontent/325415283d6847108ad800bf23488a79.png"
      alt=""
    />
  </div>
  <div class="inner-text">
    <div>
      <h4>STANDARDS</h4>
      <h1>Quality</h1>
      <h6>
        TR provides a maximum level of product quality which prevents the
        production of non-conforming fasteners with the objective of approaching
        zero defects for specified characteristics.
      </h6>
      <button class="transparent-btn">Read more</button>
    </div>
  </div>
</div>

<!-- ///////////////////////// seventh section ////////////////////////////// -->
<div class="inner">
  <div class="inner-text">
    <div>
      <h4>COLLABORATION</h4>
      <h1>Trade bodies and associations</h1>
      <h6>
        TR is a member of a variety of trade bodies for relevant industry
        sectors including BIAFD, SMMT and NEAA.
      </h6>
      <button class="transparent-btn">Read more</button>
    </div>
  </div>
  <div class="inner-image">
    <img
      src="https://trfastenings.blob.core.windows.net/sitecontent/a600779133204c8cac60c08955f70d65.jpg"
      alt=""
    />
  </div>
</div>
