<div class="main">

    <div class="img-section">
      <div class="img1">
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/5d3fa4cc9c754f5c8598da45d9590ed8.jpg"
          alt=""
        />
        <div class="triangle triangle-first">
          <h5>Light vehicle</h5>
          <h3>
            Passenger vehicles, SUVs, niche builds, leisure and off-road-2&4
            wheeler
          </h3>
        </div>
      </div>
  
      <div class="img1">
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/46dcc5cd5d4844ef9045f5b86bfcc05f.jpg"
          alt=""
        />
        <div class="triangle triangle-second" >
          <h5>Heavy vehicle</h5>
          <h3>
            Vehicles and products associated with the bulk movement of people,
            goods and services
          </h3>
        </div>
      </div>
  
      <div class="img1">
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/a961111b5cab4bd78f3ca56e03838ad1.png"
          alt=""
        />
        <div class="triangle triangle-third">
          <h5>Health & home</h5>
          <h3>Medical, health and domestic appliance industries</h3>
        </div>
      </div>
  
      <div class="img1">
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/763682d47ddd4ef5bea733d6187ad7e5.jpg"
          alt=""
        />
        <div class="triangle triangle-four">
          <h5>Energy, tech & infrastructure</h5>
          <h3>
            Power distribution, power generation, tech equipement and 5G
            infrastructure systems
          </h3>
        </div>
      </div>
  
      <div class="img1">
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/1a841bd24add432894aefded35b49bb1.png"
          alt=""
        />
        <div class="triangle triangle-five">
          <h5>General industrial</h5>
          <h3>
            Generalised industries not specific to any one end market, from sheet
            metal sub-contractors to machinery builders and plastic moulding
            companies.
          </h3>
        </div>
      </div>
  
      <div class="img1">
        <img
          src="https://trfastenings.blob.core.windows.net/sitecontent/22477a1ca19742499ab538cc1089b613.png"
          alt=""
        />
        <div class="triangle triangle-six">
          <h5>Distributors</h5>
          <h3>
            Distributors customers in key geographies providing an outlet for TR
            Branded Products and associated fasteners
          </h3>
        </div>
      </div>
    </div>
  </div>